@CHARSET "UTF-8";
/* -------------- 공용 레이아웃 (수정X)-------------- */
/* 폰트 모음 */
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}

div {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-size: 0.875rem;
}

html {
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
}

#wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 1200px;
	overflow-y: hidden;
}

#header {
	width: 100%;
	height: 40px;
	border: 0;
	background-color: #1D9F8E;
	overflow: hidden;
}

#contentsBox {
	width: 100%;
	height: calc(100% - 40px);
	background-color: #F2F2F2;
	overflow: hidden;
}

#sideNavi {
	width: 200px;
	height: 100%;
	float: left;
	background-color: #1D9F8E;
	overflow-y: scroll;
}

/* SCROLL */
#sideNavi::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#sideNavi::-webkit-scrollbar-track {
	background-color: #F2F2F2;
}
/* 스크롤바의 전체 배경색 */
#sideNavi::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#sideNavi::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#sideNavi::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

#contents {
	width: calc(100% - 200px);
	height: 100%;
	float: left;
	overflow-y: auto;
}

#contentsDetail {
	min-width: 900px;
	width: 90%;
	max-width: 1200px;
	height: auto;
	min-height: 700px;
	background-color: white;
	border-radius: 5px;
	margin: 30px auto;
	border: 0;
	box-shadow: 0 0 6px #B3B3B3;
    overflow: hidden;
}

#TitleName {
	width: calc(100% - 30px);
	height: 50px;
	font-size: 1.5rem;
	margin: 15px;
	float: left;
}

#TitleContents {
	width: calc(100% - 30px);
	height: calc(100% - 110px);
	margin: 15px;
	float: left;
}

/* clearfix */
.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	display: block;
	content: '';
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

#headerLogo {
	width: 200px;
	height: 100%;
	float: left;
}

#logoImg {
	width: 90%;
	margin: 10px;
	cursor:pointer;
}

/* ------------------로그인 후 헤더------------------ */
#headerNavi {
	width: 580px;
	height: 100%;
	float: right;
	list-style: none;
}

#headerNavi>li {
	float: left;
	line-height: 45px;
	text-align: center;
}

#headerNavi>li>a {
	color: white;
	text-decoration: none;
}

#headerNavi>li:nth-child(1) {
	color: white;
	width: 250px;
	line-height: 40px;
	cursor: pointer;
}

#headerNavi>li:nth-child(2) {
	width: 40px;
}

#headerNavi>li:nth-child(3) {
	width: 40px;
}

#headerNavi>li:nth-child(4) {
	width: 40px;
}

#headerNavi>li:nth-child(5) {
	width: 40px;
}

#headerNavi>li:nth-child(6) {
	width: 150px;
	color: white;
	font-size: 0.875rem;
}
/* ------------------검색 버튼------------------ */
#searchBox {
	width: 90%;
	background-color: none;
	border: 1px solid white;
	border-radius: 3px;
	cursor: pointer;
	height: 0.01px;
	margin-top: 29px;
	outline: none;
	font-size: 14px; /*진원 추가*/
	padding-left: 3px; /*진원 추가*/
}

#searchBtn {
	border: 0;
	background: none;
	color: white;
	cursor: pointer;
}

.naviIcon {
	font-size: 20px;
}

#welcomeName {
	font-family: "NanumBarunGothic";
	font-weight: 400;
}
/* ------------------사이드 카테고리------------------ */
.sideNaviClick {
	cursor: pointer;
	width: 100%;
	height: 60px;
	overflow: hidden;
}

.nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
}

.sideNaviBox {
	width: 70%;
	height: 100%;
	float: left;
	line-height: 60px;
	color: #EAEAEA;
	font-family: "NanumBarunGothic";
	font-weight: 700;
	font-size: 1rem;
}

.arrow {
	width: 10%;
	height: 100%;
	float: left;
    padding-top:22px;
	color: #EAEAEA;
	font-size: 0.750rem;
}

.sideNaviIcon {
	width: 20%;
	height: 100%;
	float: left;
	line-height: 60px;
	color: #EAEAEA;
	font-size: 1rem;
}

.sideNaviClick:hover div {
	background-color: #1C9988;
}

.categoryBox {
	display: none;
	height: 0px;
	overflow: hidden;
	background-color: #198C7D;
}

.categoryList {
	list-style: none;
	margin-top: 5px;
	padding-left: 35px;
	font-size: 1rem;
}

.categoryBox>li>a {
	text-decoration: none;
	color: #EAEAEA;
	font-family: "NanumBarunGothic";
	font-weight: 300;
}

.categoryList:hover {
	background-color: #188778;
}

.categoryName {
	margin-top: 5px;
	margin-left: 20px;
	list-style: none;
	color: #CCCCCC;
	font-size: 0.875rem;
	font-family: "NanumBarunGothic";
	font-weight: 400;
}

/* 말풍선 */
#searchTooltip {
	background-color: black;
	position: absolute;
	top: 40px;
	margin-left: -30px;
	width: 45px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 0.8rem;
	color: white;
	opacity: 0.6;
	visibility: hidden;
}

#exitTooltip {
	background-color: black;
	position: absolute;
	top: 40px;
	margin-left: -30px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 0.8rem;
	color: white;
	opacity: 0.6;
	visibility: hidden;
}

#myInfoTooltip {
	background-color: black;
	position: absolute;
	top: 40px;
	margin-left: -30px;
	width: 53px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 0.8rem;
	color: white;
	opacity: 0.6;
	visibility: hidden;
}