<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval">
  	<select id="selectApprovalListRequest" parameterType="AprListPage" resultType="Approval">
  		SELECT
  			DOCU_NO as docuNo,
  			MEM_NO as memNo,
  			DEPT_CODE as deptCode,
  			DOCU_DATE as docuDate,
  			DOCU_TYPE as docuType,
  			TITLE as title,
  			APR_TYPE as aprType,
  			URGENCY_YN as urgencyYN,
  			LOCK_YN as lockYN,
  			DEL_YN as delYN,
  			FINAL_DATE as finalDate
  			FROM (SELECT ROW_NUMBER() OVER(ORDER BY DOCU_DATE DESC) 
			AS ROW_NUM, APPROVAL.* FROM APPROVAL WHERE MEM_NO = #{memNo} 
			<if test="aprStatus != null">AND APR_TYPE = #{aprStatus}</if>
			<if test="keyword != null">AND TITLE LIKE '%'||#{keyword}||'%'</if>
			AND DEL_YN = 'N')
			WHERE ROW_NUM BETWEEN #{startPage} AND #{endPage}
  	</select>
  	
  	<select id="selectApprovalListWait" parameterType="AprListPage" resultType="Approval">
  		SELECT
  			DOCU_NO as docuNo,
  			MEM_NO as memNo,
  			MEM_NAME AS memName,
  			DEPT_CODE as deptCode,
  			DOCU_DATE as docuDate,
  			DOCU_TYPE as docuType,
  			TITLE as title,
  			LINE_APR_TYPE as aprType,
  			URGENCY_YN as urgencyYN,
  			LOCK_YN as lockYN,
  			DEL_YN as delYN,
  			FINAL_DATE as finalDate
  			FROM (SELECT ROW_NUMBER() OVER(ORDER BY DOCU_DATE DESC) 
			AS ROW_NUM, APR.*, M.MEM_NAME, AL.APR_TYPE LINE_APR_TYPE FROM APPROVAL APR JOIN MEMBER M ON APR.MEM_NO = M.MEM_NO 
			JOIN APPROVAL_LINE AL ON APR.DOCU_NO = AL.DOCU_NO WHERE AL.MEM_NO = #{memNo}
			<choose>
				<when test="aprStatus == 'W'.toString()">AND AL.APR_TYPE ='W'</when>
				<when test="aprStatus == 'C'.toString()">AND AL.APR_TYPE IN ('R','A')</when>
			</choose>
			<choose>
				<when test="searchType == 'title'">AND APR.TITLE LIKE '%'||#{keyword}||'%'</when>
				<when test="searchType == 'member'">AND M.MEM_NAME LIKE '%'||#{keyword}||'%'</when>
			</choose>
			AND DEL_YN = 'N')
			WHERE ROW_NUM BETWEEN #{startPage} AND #{endPage}
  	</select>
  	
  	<select id="selectApprovalListRef" parameterType="AprListPage" resultType="Approval">
  		SELECT
  			DOCU_NO as docuNo,
  			MEM_NO as memNo,
  			MEM_NAME AS memName,
  			DEPT_CODE as deptCode,
  			DOCU_DATE as docuDate,
  			DOCU_TYPE as docuType,
  			TITLE as title,
  			APR_TYPE as aprType,
  			URGENCY_YN as urgencyYN,
  			LOCK_YN as lockYN,
  			DEL_YN as delYN,
  			FINAL_DATE as finalDate
  			FROM (SELECT ROW_NUMBER() OVER(ORDER BY DOCU_DATE DESC) 
			AS ROW_NUM, APR.*, M.MEM_NAME FROM APPROVAL APR JOIN MEMBER M ON APR.MEM_NO = M.MEM_NO
            WHERE APR.DOCU_NO IN
			(SELECT DOCU_NO FROM APPROVAL_REF WHERE MEM_NO = #{memNo})
			<if test="aprStatus != null">AND APR_TYPE = #{aprStatus}</if>
			<choose>
				<when test="searchType == 'title'">AND APR.TITLE LIKE '%'||#{keyword}||'%'</when>
				<when test="searchType == 'member'">AND M.MEM_NAME LIKE '%'||#{keyword}||'%'</when>
			</choose>
			AND APR.DEL_YN = 'N')
			WHERE ROW_NUM BETWEEN #{startPage} AND #{endPage}
  	</select>
  	
  	<select id="selectApprovalListDept" parameterType="AprListPage" resultType="Approval">
  		SELECT
  			DOCU_NO as docuNo,
  			MEM_NO as memNo,
  			MEM_NAME AS memName,
  			DEPT_CODE as deptCode,
  			DOCU_DATE as docuDate,
  			DOCU_TYPE as docuType,
  			TITLE as title,
  			APR_TYPE as aprType,
  			URGENCY_YN as urgencyYN,
  			LOCK_YN as lockYN,
  			DEL_YN as delYN,
  			FINAL_DATE as finalDate
  			FROM (SELECT ROW_NUMBER() OVER(ORDER BY DOCU_DATE DESC) 
			AS ROW_NUM, APR.*, M.MEM_NAME FROM APPROVAL APR JOIN MEMBER M ON APR.MEM_NO = M.MEM_NO
            WHERE 
            <choose>
	  			<when test="deptCode != null">APR.DEPT_CODE = #{deptCode}</when>
	  			<otherwise>APR.DEPT_CODE IS NULL</otherwise>
  			</choose>
			<if test="aprStatus != null">AND APR.APR_TYPE = #{aprStatus}</if>
			<choose>
			<when test="searchType == 'title'">AND APR.TITLE LIKE '%'||#{keyword}||'%'</when>
			<when test="searchType == 'member'">AND M.MEM_NAME LIKE '%'||#{keyword}||'%'</when>
			</choose>
			AND APR.DEL_YN = 'N')
			WHERE ROW_NUM BETWEEN #{startPage} AND #{endPage}
  	</select>
  	
  	<select id="postTotalCount" parameterType="AprListPage" resultType="Integer">
  		SELECT COUNT(*) FROM APPROVAL APR JOIN MEMBER M ON APR.MEM_NO = M.MEM_NO WHERE 
  		<choose>
  			<when test="memNo != 0">APR.MEM_NO = #{memNo}</when>
  			<otherwise>
  				<choose>
	  			<when test="deptCode != null">APR.DEPT_CODE = #{deptCode}</when>
	  			<otherwise>APR.DEPT_CODE IS NULL</otherwise>
  				</choose>
  			</otherwise>
  		</choose>
  		<if test="aprStatus != null">AND APR.APR_TYPE = #{aprStatus}</if>
  		<choose>
			<when test="searchType == 'title'">AND APR.TITLE LIKE '%'||#{keyword}||'%'</when>
			<when test="searchType == 'member'">AND M.MEM_NAME LIKE '%'||#{keyword}||'%'</when>
		</choose>
  		AND APR.DEL_YN ='N'
  	</select>
  	
  	<select id="postTotalCountWait" parameterType="AprListPage" resultType="Integer">
  		SELECT COUNT(*) FROM APPROVAL_LINE AL JOIN APPROVAL APR ON AL.DOCU_NO = APR.DOCU_NO
  		JOIN MEMBER M ON APR.MEM_NO = M.MEM_NO
		WHERE AL.MEM_NO = #{memNo} 
  		<choose>
			<when test="aprStatus == 'W'.toString()">AND AL.APR_TYPE ='W'</when>
			<when test="aprStatus == 'C'.toString()">AND AL.APR_TYPE IN ('R','A')</when>
		</choose>
		<choose>
			<when test="searchType == 'title'">AND APR.TITLE LIKE '%'||#{keyword}||'%'</when>
			<when test="searchType == 'member'">AND M.MEM_NAME LIKE '%'||#{keyword}||'%'</when>
		</choose>
		AND APR.DEL_YN ='N'
  	</select>
  	
  	<select id="postTotalCountRef" parameterType="AprListPage" resultType="Integer">
  		SELECT COUNT(*) FROM APPROVAL_REF AF JOIN APPROVAL APR ON AF.DOCU_NO = APR.DOCU_NO 
  		JOIN MEMBER M ON APR.MEM_NO = M.MEM_NO
		WHERE AF.MEM_NO = #{memNo} 
		<if test="aprStatus != null">AND APR_TYPE = #{aprStatus}</if>
		<choose>
			<when test="searchType == 'title'">AND APR.TITLE LIKE '%'||#{keyword}||'%'</when>
			<when test="searchType == 'member'">AND M.MEM_NAME LIKE '%'||#{keyword}||'%'</when>
		</choose>
		AND DEL_YN = 'N'
  	</select>
  	
  	<select id="selectMyDeptPeople" parameterType="Member" resultType="AprLineMember">
  		SELECT 
  			MEM_NO as memNo,
			MEM_POSITION as memPosition,
			MEM_NAME as memName,
			DEPT_CODE as deptCode,
			DEPT_NAME as deptName
  		FROM MEM_DEPT WHERE 
  		<choose>
  			<when test="deptCode != null">DEPT_CODE = #{deptCode}</when>
  			<otherwise>DEPT_CODE IS NULL</otherwise>
  		</choose> 
  		AND MEM_NO != #{memNo} AND MEM_DEL_YN = 'N' AND MEM_RESIGN_YN = 'N'
  		ORDER BY DEPT_CODE
  	</select>
  	
  	<select id="selectCCCLinePeople" parameterType="Member" resultType="AprLineMember">
  		SELECT 
  			MEM_NO as memNo,
			MEM_POSITION as memPosition,
			MEM_NAME as memName,
			DEPT_CODE as deptCode,
			DEPT_NAME as deptName
  		FROM MEM_DEPT WHERE
  		<choose>
  			<when test="deptCode != null">DEPT_CODE IN ('D2',#{deptCode})</when>
  			<otherwise>DEPT_CODE IS NULL</otherwise>
  		</choose> 
  		AND MEM_NO != #{memNo} AND MEM_DEL_YN = 'N' AND MEM_RESIGN_YN = 'N'
  		ORDER BY DEPT_CODE
  	</select>
  	
  	<!-- BY 진원 - 자신이 결재해야할 문서개수 조회 -->
  	<select id="selectMyAprLineCount" resultType="int">
  		SELECT COUNT(AL.DOCU_NO)
  		FROM APPROVAL_LINE AL JOIN APPROVAL APR ON AL.DOCU_NO = APR.DOCU_NO
		WHERE AL.MEM_NO = #{memNo} AND AL.APR_TYPE = 'W' AND APR.DEL_YN ='N'
  	</select>
  	
  	<insert id="insertApproval" parameterType="AprForm">
  		 <selectKey keyProperty="docuNo" resultType="Integer" order="BEFORE"> select (TO_CHAR(SYSDATE,'YYMM')||LPAD(APPROVAL_SEQ.NEXTVAL, 4,0)) from dual </selectKey>
  		INSERT INTO APPROVAL VALUES
  		(#{docuNo}, #{memNo}, 
  		<choose>
  			<when test="deptCode !=null">#{deptCode},</when>
  			<otherwise>NULL,</otherwise>
  		</choose>
  		 SYSTIMESTAMP, #{docuType}, #{title}, 'W',
  		<choose>
  			<when test="urgencyYN=='Y'">'Y'</when>
  			<otherwise>'N'</otherwise>
  		</choose>,
  		<choose>
  			<when test="lockYN=='Y'">'Y'</when>
  			<otherwise>'N'</otherwise>
  		</choose>
  		, 'N', NULL)
  	</insert>
  	
  	<insert id="insertApprovalLine" parameterType="ApprovalLine">
  		INSERT INTO APPROVAL_LINE VALUES (APPROVAL_LINE_SEQ.NEXTVAL, #{docuNo}, #{memNo}, 'W', NULL, NULL)
  	</insert>
  	
  	<insert id="insertApprovalRef" parameterType="ApprovalRef">
  		INSERT INTO APPROVAL_REF VALUES (APPROVAL_REF_SEQ.NEXTVAL, #{docuNo}, #{memNo})
  	</insert>
  	
  	<insert id="insertHolidayForm" parameterType="AprFormHol">
  		INSERT INTO HOLIDAY_FORM VALUES
  		(HOLIDAY_FORM_SEQ.NEXTVAL, #{docuNo}, #{holType}, #{startDate}, #{endDate}, #{afternoonOff}, #{reasons}, #{countDay})
  	</insert>
  	
  	<insert id="insertLazinessForm" parameterType="AprFormLazy">
  		INSERT INTO LAZINESS_FORM VALUES
  		(LAZINESS_FORM_SEQ.NEXTVAL, #{docuNo}, #{dept}, #{position}, #{mName}, #{lazyDate}, #{reasons})
  	</insert>
  	
  	<insert id="insertOvertimeForm" parameterType="AprFormOvt">
  		INSERT INTO OVERTIME_FORM VALUES
  		(OVERTIME_FORM_SEQ.NEXTVAL, #{docuNo}, #{ovtType}, #{ovtDate}, #{startHour},
  		#{startMinute}, #{endHour}, #{endMinute}, #{totalHour}, #{reasons})
  	</insert>
  	
  	<insert id="insertCCCForm" parameterType="AprFormCCC">
  		INSERT INTO CCC_FORM VALUES
  		(CCC_FORM_SEQ.NEXTVAL, #{docuNo}, #{applyDept}, #{applier}, #{applyDate}, 
  		#{amounts}, #{usedPlace}, 0, #{returnDate}, #{applyPurpose})
  	</insert>
  	
  	<select id="selectOneAprHol" resultType="AprFormHol">
  		SELECT
  		DOCU_NO AS docuNo,
  		MEM_NO AS memNo,
  		DEPT_CODE AS deptCode,
  		DOCU_DATE AS docuDate,
  		DOCU_TYPE AS docuType,
  		MEM_NAME AS memName,
  		DEPT_NAME AS deptName,
  		TITLE AS title,
  		APR_TYPE AS aprType,
  		URGENCY_YN AS urgencyYN,
  		LOCK_YN AS lockYN,
  		DEL_YN AS delYN,
  		FINAL_DATE AS finalDate,
  		HOL_TYPE AS holType,
  		START_DATE AS startDate,
  		END_DATE AS endDate,
  		AFTERNOON_OFF AS afternoonOff,
  		REASONS AS reasons,
  		COUNT_DAY AS countDay
  		FROM APR_FORM_HOL
  		WHERE DOCU_NO = #{docuNo}
  	</select>
  	
  	<select id="selectOneAprOvt" resultType="AprFormOvt">
  		SELECT
  		DOCU_NO AS docuNo,
  		MEM_NO AS memNo,
  		DEPT_CODE AS deptCode,
  		DOCU_DATE AS docuDate,
  		DOCU_TYPE AS docuType,
  		MEM_NAME AS memName,
  		DEPT_NAME AS deptName,
  		TITLE AS title,
  		APR_TYPE AS aprType,
  		URGENCY_YN AS urgencyYN,
  		LOCK_YN AS lockYN,
  		DEL_YN AS delYN,
  		FINAL_DATE AS finalDate,
  		OVT_TYPE AS ovtType,
  		OVT_DATE AS ovtDate,
  		START_HOUR AS startHour,
  		START_MINUTE AS Minute,
  		END_HOUR AS endHour,
  		END_MINUTE AS endMinute,
  		TOTAL_HOUR AS totalHour,
  		REASONS AS reasons
  		FROM APR_FORM_OVT
  		WHERE DOCU_NO = #{docuNo}
  	</select>
  	
  	<select id="selectOneAprLazy" resultType="AprFormLazy">
  		SELECT
  		DOCU_NO AS docuNo,
  		MEM_NO AS memNo,
  		DEPT_CODE AS deptCode,
  		DOCU_DATE AS docuDate,
  		DOCU_TYPE AS docuType,
  		MEM_NAME AS memName,
  		DEPT_NAME AS deptName,
  		TITLE AS title,
  		APR_TYPE AS aprType,
  		URGENCY_YN AS urgencyYN,
  		LOCK_YN AS lockYN,
  		DEL_YN AS delYN,
  		FINAL_DATE AS finalDate,
  		DEPT AS dept,
  		POSITION AS position,
  		NAME AS mName,
  		LAZY_DATE AS lazyDate,
  		REASONS AS reasons
  		FROM APR_FORM_LAZY
  		WHERE DOCU_NO = #{docuNo}
  	</select>
  	
  	<select id="selectOneAprCCC" resultType="AprFormCCC">
  		SELECT
  		DOCU_NO AS docuNo,
  		MEM_NO AS memNo,
  		DEPT_CODE AS deptCode,
  		DOCU_DATE AS docuDate,
  		DOCU_TYPE AS docuType,
  		MEM_NAME AS memName,
  		DEPT_NAME AS deptName,
  		TITLE AS title,
  		APR_TYPE AS aprType,
  		URGENCY_YN AS urgencyYN,
  		LOCK_YN AS lockYN,
  		DEL_YN AS delYN,
  		FINAL_DATE AS finalDate,
  		APPLY_DEPT AS applyDept,
  		APPLIER AS applier,
  		APPLY_DATE AS applyDate,
  		AMOUNTS AS amounts,
  		USED_PLACE AS usedPlace,
  		CARD_TYPE AS cardType,
  		RETURN_DATE AS returnDate,
  		APPLY_PURPOSE AS applyPurpose
  		FROM APR_FORM_CCC
  		WHERE DOCU_NO = #{docuNo}
  	</select>
  	
  	<select id="selectOneAprLine" resultType="ApprovalLine">
  		SELECT
  		DOCU_NO AS docuNo,
  		MEM_NO AS memNo,
  		APR_TYPE AS aprType,
  		APR_DATE AS aprDate,
  		APR_COMMENT AS aprComment,
  		MEM_NAME AS memName,
  		MEM_POSITION AS memPosition,
  		DEPT_NAME AS deptName
  		FROM APPROVAL_LINE_VIEW
  		WHERE DOCU_NO = #{docuNo} ORDER BY MEM_NO
  	</select>
  	
  	<select id="selectOneAprRef" resultType="ApprovalRef">
  		SELECT 
  		DOCU_NO AS docuNo,
  		MEM_NO AS memNo
  		 FROM APPROVAL_REF WHERE DOCU_NO = #{docuNo} ORDER BY MEM_NO
  	</select>
  	
  	<update id="insertAprMark" parameterType="ApprovalLine">
  		<selectKey keyProperty="aprDate" resultType="java.sql.Timestamp" order="BEFORE">SELECT SYSTIMESTAMP FROM DUAL </selectKey>
  		UPDATE APPROVAL_LINE SET
  		APR_TYPE = #{aprType},
  		APR_DATE = #{aprDate},
  		APR_COMMENT = #{aprComment}
  		WHERE DOCU_NO = #{docuNo} AND MEM_NO = #{memNo}
  	</update>
  	
  	<select id="getLineCount" resultType="Integer">
  		SELECT COUNT(*) FROM APPROVAL_LINE WHERE DOCU_NO = #{docuNo} AND APR_TYPE ='W'
  	</select>
  	
  	<select id="getRefusalCount" resultType="Integer">
  		SELECT COUNT(*) FROM APPROVAL_LINE WHERE DOCU_NO = #{docuNo} AND APR_TYPE ='R'
  	</select>
  	
  	<update id="updateFinalDate" parameterType="ApprovalLine">
  		UPDATE APPROVAL SET APR_TYPE = 
  		<choose>
  			<when test="lineCount > 0">'I'</when><!-- 결재선 갯수가 0이어야 완성됨 : DB에 트랜잭션 처리가 바로 반영이 안될 수 있음-->
  			<otherwise> <!-- lineCount==0 -->
  				<choose>
		  			<when test="refusalCount > 0">'R'</when>
  					<otherwise>'C'</otherwise><!-- refusalCount==0 -->
  				</choose>
  			</otherwise>
  		</choose>
  		, FINAL_DATE = #{aprDate}
  		WHERE DOCU_NO = #{docuNo}
  	</update>
  	
  	<insert id="insertHolidayList" parameterType="AprFormHol">
  		INSERT INTO HOLIDAY_LIST VALUES
  		(HOLIDAY_LIST_SEQ.NEXTVAL, #{memNo}, #{holType}, #{startDate}, #{endDate}, #{afternoonOff}, #{countDay})
  	</insert>
  	
  	<update id="updateHolidayCount" parameterType="AprFormHol">
  		UPDATE MEMBER SET MEM_HOLIDAY_COUNT = MEM_HOLIDAY_COUNT - #{countDay}
		WHERE MEM_NO = #{memNo}
  	</update>
  	
  	<update id="deleteApproval" parameterType="Approval">
  		UPDATE APPROVAL SET DEL_YN = 'Y' WHERE DOCU_NO = #{docuNo} AND MEM_NO = #{memNo}
  	</update>
  	
  	<update id="updateAprFormHol" parameterType="AprFormHol">
  		UPDATE HOLIDAY_FORM SET
		HOL_TYPE = #{holType},
		START_DATE =#{startDate} ,
		END_DATE = #{endDate},
		AFTERNOON_OFF = #{afternoonOff},
		REASONS = #{reasons},
		COUNT_DAY = #{countDay}
		WHERE DOCU_NO = #{docuNo}
  	</update>
  	
  	<update id="updateAprFormCCC" parameterType="AprFormCCC">
  		UPDATE CCC_FORM SET
		APPLY_DEPT = #{applyDept},
		APPLIER = #{applier},
		APPLY_DATE = #{applyDate},
		AMOUNTS = #{amounts},
		USED_PLACE = #{usedPlace},
		CARD_TYPE = #{cardType},
		RETURN_DATE = #{returnDate},
		APPLY_PURPOSE = #{applyPurpose}
		WHERE DOCU_NO = #{docuNo}
  	</update>
  	
  	<update id="updateAprFormLazy" parameterType="AprFormLazy">
	  	UPDATE LAZINESS_FORM SET
		DEPT = #{dept},
		POSITION = #{position},
		NAME = #{mName},
		LAZY_DATE = #{lazyDate},
		REASONS = #{reasons}
		WHERE DOCU_NO = #{docuNo}
  	</update>
  	
  	<update id="updateAprFormOvt" parameterType="AprFormOvt">
	  	UPDATE OVERTIME_FORM SET
		OVT_TYPE = #{ovtType},
		OVT_DATE = #{ovtDate},
		START_HOUR =  #{startHour},
		START_MINUTE = #{startMinute},
		END_HOUR = #{endHour},
		END_MINUTE = #{endMinute},
		TOTAL_HOUR = #{totalHour},
		REASONS = #{reasons}
		WHERE DOCU_NO = #{docuNo}
  	</update>
  	
  	<delete id="deleteAprLine">
  		DELETE FROM APPROVAL_LINE WHERE DOCU_NO = #{docuNo}
  	</delete>
  	
  	<delete id="deleteAprRef">
  		DELETE FROM APPROVAL_REF WHERE DOCU_NO = #{docuNo}
  	</delete>

	<update id="updateCardType" parameterType="CCCForm">
		UPDATE CCC_FORM SET CARD_TYPE = #{cardType} WHERE DOCU_NO = #{docuNo}
	</update>
</mapper>
