<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project">

	<!-- 새 프로젝트 생성 -->
	<insert id="insertProject" parameterType="Project">
		INSERT INTO PROJECT VALUES(PROJECT_SEQ.NEXTVAL, #{memNo}, #{proSubject}, #{proExp}, SYSDATE, #{publicYN}, 'N', 'N', NULL, 1)
	</insert>
	
	<!-- 프로젝트를 생성한 사람을 통해 프로젝트 정보 가져오기 -->
	<select id="selectAllProject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE MEM_NO = #{memNo} AND DEL_YN = 'N'
		ORDER by PRO_NO DESC
	</select>
	
	<!-- 공개 프로젝트 목록 가져오기 -->
	<select id="selectPublicProject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PUBLIC_YN = 'Y' AND DEL_YN = 'N'
		ORDER by PRO_NO DESC
	</select>
	
	<!-- 프로젝트 번호로 프로젝트 정보 가져오기  -->
	<select id="selectOneProject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PRO_NO=#{proNo} AND DEL_YN='N'
	</select>
	
	<!-- 프로젝트의 제목으로 프로젝트 정보 가져오기 -->
	<select id="selectOneProjectSubject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PRO_SUBJECT=#{proSubject} AND DEL_YN='N'
	</select>
	
	<!-- 프로젝트 생성자는 바로 프로젝트 참여자로 들어가며 관리자로 설정됨 -->
	<insert id="insertProjectMemberAdmin" parameterType="ProjectMember">
		INSERT INTO PRO_MEMBER VALUES(#{proNo}, #{memNo}, 'Y', 'N')
	</insert>
	
	<!-- 해당 프로젝트 참여 멤버 가져오기 -->
	<select id="selectProjectMemberList" resultType="ProjectMember">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			MGR_YN as mgrYN,
			DEL_YN as delYN
		FROM PRO_MEMBER
		WHERE PRO_NO=#{proNo} AND DEL_YN='N'
	</select>
	
	<!-- 프로젝트 게시물 생성 -->
	<insert id="insertProjectBoard" parameterType="ProjectBoard">
		INSERT INTO PRO_BOARD VALUES(PRO_BOARD_SEQ.NEXTVAL, #{proNo}, #{memNo}, SYSTIMESTAMP, 'N', #{boardText}, #{imgName})
	</insert>
	
	<!-- 해당 프로젝트 게시물 가져오기 -->
	<select id="selectProjectBoardList" parameterType="ProjectBoard" resultType="ProjectBoard">
		SELECT
			BOARD_NO as boardNo,
			PRO_NO as proNo,
			MEM_NO as memNo,
			BOARD_DATE as boardDate,
			DEL_YN as delYN,
			BOARD_TEXT as boardText,
			IMG_NAME as imgName
		FROM PRO_BOARD
		WHERE DEL_YN='N' AND PRO_NO=#{proNo}
		ORDER by BOARD_NO DESC
	</select>
	
	<!-- 자신이 속한 프로젝트 목록 가져오기 -->
	<select id="selectMyProjectList" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE DEL_YN='N' AND PRO_NO IN
        (SELECT PRO_NO FROM PRO_MEMBER WHERE MEM_NO=#{MEM_NO} AND DEL_YN='N')
		ORDER by PRO_NO DESC
	</select>
	
	<!-- 프로젝트 즐겨찾기 등록 -->
	<insert id="insertProjectFavor" parameterType="ProjectFavorite">
		INSERT INTO PRO_FAVOR VALUES(#{memNo}, #{proNo})
	</insert>
	
	<!-- 프로젝트 즐겨찾기 목록 -->
	<select id="selectProjectFavoriteList" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE DEL_YN='N' AND PRO_NO IN
        (SELECT PRO_NO FROM PRO_FAVOR WHERE MEM_NO=#{MEM_NO})
	</select>
	
	<!-- 프로젝트 즐겨찾기 삭제 -->
	<delete id="deleteProjectFavor" parameterType="ProjectFavorite">
		DELETE FROM PRO_FAVOR WHERE MEM_NO=#{memNo} AND PRO_NO=#{proNo}
	</delete>
	
	<!-- 프로젝트 게시물 댓글 작성 -->
	<insert id="insertBoardComment" parameterType="ProjectComment">
		INSERT INTO PRO_COMMENT VALUES(PRO_COMMENT_SEQ.NEXTVAL, #{boardNo}, #{memNo}, #{commentCon}, SYSTIMESTAMP, 'N')
	</insert>
	
	<!-- 프로젝트 번호에 따라 모든 댓글 출력 -->
	<select id="selectBoardCommentList" resultType="ProjectComment">
		SELECT 
		    COMMENT_NO as commentNo,
		    BOARD_NO as boardNo,
		    MEM_NO as memNo,
		    COMMENT_CON as commentCon,
		    COMMENT_DATE as commentDate,
		    DEL_YN as delYN
		FROM PRO_COMMENT
		WHERE DEL_YN='N' AND BOARD_NO IN 
		(SELECT BOARD_NO FROM PRO_BOARD WHERE DEL_YN='N' AND PRO_NO=#{proNo})
	</select>
	
	<!-- 프로젝트 게시물 댓글 수정 -->
	<update id="updateProjectComment" parameterType="ProjectComment">
		UPDATE PRO_COMMENT SET COMMENT_CON=#{commentCon} WHERE COMMENT_NO=#{commentNo}
	</update>
	
	<!-- 프로젝트 게시물 댓글 삭제 -->
	<update id="deleteProjectComment">
		UPDATE PRO_COMMENT SET DEL_YN='Y' WHERE COMMENT_NO=#{commentNo}
	</update>
	
	<!-- 프로젝트 수정하기 -->
	<update id="updateProject" parameterType="Project">
		UPDATE PROJECT SET 
			PRO_SUBJECT=#{proSubject},
			PRO_EXP=#{proExp},
			PUBLIC_YN=#{publicYN}
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 프로젝트 게시물 내용 수정 -->
	<update id="updateProjectBoard" parameterType="ProjectBoard">
		UPDATE PRO_Board SET 
			BOARD_TEXT=#{boardText}
		WHERE BOARD_NO=#{boardNo}
	</update>
	
	<!-- 프로젝트 게시물 삭제 -->
	<update id="deleteProjectBoard">
		UPDATE PRO_BOARD SET 
			DEL_YN='Y'
		WHERE BOARD_NO=#{boardNo}
	</update>
	
	<!-- 프로젝트 나가기 -->
	<update id="updateProjectMemberExit" parameterType="ProjectMember">
		UPDATE PRO_MEMBER SET 
			DEL_YN='Y'
		WHERE PRO_NO=#{proNo} AND MEM_NO=#{memNo}
	</update>
	
	<!-- 프로젝트 삭제 -->
	<update id="deleteProject" parameterType="Project">
		UPDATE PROJECT SET 
			DEL_YN='Y'
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 관리자 지정 -->
	<update id="updateProjectMgrSet" parameterType="ProjectMember">
		UPDATE PRO_MEMBER SET 
			MGR_YN='Y'
		WHERE PRO_NO=#{proNo} AND MEM_NO=#{memNo}
	</update>
	
	<!-- 관리자 지정 해제 -->
	<update id="updateProjectMgrCancel" parameterType="ProjectMember">
		UPDATE PRO_MEMBER SET 
			MGR_YN='N'
		WHERE PRO_NO=#{proNo} AND MEM_NO=#{memNo}
	</update>
	
	<!-- 일정 게시물 올리기 -->
	<insert id="insertProjectPlan" parameterType="ProjectPlan">
		INSERT INTO PRO_PLAN VALUES(PRO_BOARD_SEQ.NEXTVAL, #{proNo}, #{memNo}, #{subject}, #{memo}, #{startDate}, #{endDate}, 'N')
	</insert>
	<!-- 프로젝트 완료 미완료 처리 -->
	<update id="updateProjectComplate" parameterType="Project">
		UPDATE PROJECT SET 
			COMP_YN=#{compYN}
		WHERE PRO_NO=#{proNo}
	</update>
	

	<!-- BY 진원 - 한 게시물에 대한 댓글 목록 -->
	<select id="selectOneBoardComment" resultType="ProjectComment">
		SELECT 
		    COMMENT_NO as commentNo,
		    BOARD_NO as boardNo,
		    MEM_NO as memNo,
		    COMMENT_CON as commentCon,
		    COMMENT_DATE as commentDate,
		    DEL_YN as delYN
		FROM PRO_COMMENT
		WHERE DEL_YN='N' AND BOARD_NO =#{boardNo}
		ORDER BY COMMENT_DATE DESC
	</select>
  
	<!-- 프로젝트 게시물에 사진 올릴 시 -->
	<insert id="insertProjectBoardFile" parameterType="ProjectFileData">
		INSERT INTO PRO_FILE VALUES(PRO_FILE_SEQ.NEXTVAL, #{proNo}, #{memNo}, #{originalFileName}, #{changedFileName}, #{filePath}, #{fileSize}, #{uploadTime}, 'N')
	</insert>
	
	<!-- 프로젝트 게시물에 사진 올릴 시 -->
	<insert id="insertProjectCode" parameterType="ProjectCode">
		INSERT INTO PRO_CODE VALUES(PRO_BOARD_SEQ.NEXTVAL, #{proNo}, #{memNo}, SYSTIMESTAMP, #{codeText}, #{boardText}, 'N', #{imgName})
	</insert>
	
	<!-- 프로젝트 코드 목록 가져오기 -->
	<select id="selectProjectCodeList" resultType="ProjectCode">
		SELECT 
		    CODE_NO as codeNo,
		    PRO_NO as proNo,
		    MEM_NO as memNo,
		    CODE_DATE as codeDate,
		    CODE_TEXT as codeText,
		    BOARD_TEXT as boardText,
		    DEL_YN as delYN,
		    IMG_NAME as imgName
		FROM PRO_CODE
		WHERE DEL_YN='N' AND PRO_NO=#{proNo}
		ORDER by CODE_NO DESC
	</select>
	
	<!-- 프로젝트 코드 내용 수정 -->
	<update id="updateProjectCode" parameterType="ProjectCode">
		UPDATE PRO_CODE SET 
			BOARD_TEXT=#{boardText}
		WHERE CODE_NO=#{codeNo}
	</update>
	
	<!-- 프로젝트 코드 삭제 -->
	<update id="deleteProjectCode">
		UPDATE PRO_CODE SET 
			DEL_YN='Y'
		WHERE CODE_NO=#{codeNo}
	</update>
	
	<!-- 프로젝트 번호에 따라 코드 댓글 출력 -->
	<select id="selectCodeCommentList" resultType="ProjectComment">
		SELECT 
		    COMMENT_NO as commentNo,
		    BOARD_NO as boardNo,
		    MEM_NO as memNo,
		    COMMENT_CON as commentCon,
		    COMMENT_DATE as commentDate,
		    DEL_YN as delYN
		FROM PRO_COMMENT
		WHERE DEL_YN='N' AND BOARD_NO IN 
		(SELECT CODE_NO FROM PRO_CODE WHERE DEL_YN='N' AND PRO_NO=#{proNo})
	</select>
	
	<!-- 할일 작성 -->
	<insert id="insertProjectWork" parameterType="ProjectWork">
		INSERT INTO PRO_WORK VALUES(PRO_BOARD_SEQ.NEXTVAL, #{proNo}, #{memNo}, #{title}, #{workCon}, #{workDay}, SYSDATE, 0, 'N')
	</insert>
	
	<!-- 프로젝트 번호에 따른 할일 리스트 -->
	<select id="selectProjectWorkList" resultType="ProjectWork">
		SELECT 
		    WORK_NO as workNo,
		    PRO_NO as proNo,
		    MEM_NO as memNo,
		    TITLE as title,
		    WORK_CON as workCon,
		    WORK_DAY as workDay,
		    WORK_DATE as workDate,
		    WORK_COMP as workComp,
		    DEL_YN as delYN
		FROM PRO_WORK
		WHERE DEL_YN='N' AND PRO_NO=#{proNo}
		ORDER by WORK_NO DESC
	</select>
	
	<!-- 프로젝트 번호에 따라 일정 댓글 출력 -->
	<select id="selectWorkCommentList" resultType="ProjectComment">
		SELECT 
		    COMMENT_NO as commentNo,
		    BOARD_NO as boardNo,
		    MEM_NO as memNo,
		    COMMENT_CON as commentCon,
		    COMMENT_DATE as commentDate,
		    DEL_YN as delYN
		FROM PRO_COMMENT
		WHERE DEL_YN='N' AND BOARD_NO IN 
		(SELECT WORK_NO FROM PRO_WORK WHERE DEL_YN='N' AND PRO_NO=#{proNo})
	</select>
	
	<!-- 프로젝트 할일 제목 수정 -->
	<update id="updateProjectWork" parameterType="ProjectWork">
		UPDATE PRO_WORK SET 
			TITLE=#{title}
		WHERE WORK_NO=#{workNo}
	</update>
	
	<!-- 프로젝트 할일 삭제 -->
	<update id="deleteProjectWork" parameterType="ProjectWork">
		UPDATE PRO_WORK SET 
			DEL_YN='Y'
		WHERE WORK_NO=#{workNo}
	</update>
	
	<!-- 할일 선택 시 -->
	<update id="updateProjectWorkCheck" parameterType="ProjectWork">
		UPDATE PRO_WORK SET 
			WORK_CON=#{workCon},
			WORK_COMP=#{workComp}
		WHERE WORK_NO=#{workNo}
	</update>
	
	
	<!-- 프로젝트 번호에 따른 파일 목록 가져오기 -->
	<select id="selectProjectFileList" resultType="ProjectFileData">
		SELECT 
		    FILE_NO as fileNo,
		    PRO_NO as proNo,
		    MEM_NO as memNo,
		    ORIGINALFILENAME as originalFileName,
		    CHANGEDFILENAME as changedFileName,
		    FILEPATH as filePath,
		    FILESIZE as fileSize,
		    UPLOADTIME as uploadTime
		FROM PRO_FILE
		WHERE DEL_YN='N' AND PRO_NO=#{proNo}
        ORDER BY FILE_NO DESC
	</select>
	
	
	<!-- 프로젝트 파일 하나 선택 -->
	<select id="selectOneProjectFile" resultType="ProjectFileData">
		SELECT 
		    FILE_NO as fileNo,
		    PRO_NO as proNo,
		    MEM_NO as memNo,
		    ORIGINALFILENAME as originalFileName,
		    CHANGEDFILENAME as changedFileName,
		    FILEPATH as filePath,
		    FILESIZE as fileSize,
		    UPLOADTIME as uploadTime
		FROM PRO_FILE
		WHERE DEL_YN='N' AND FILE_NO=#{fileNo}
	</select>
	
	<!-- 파일 삭제 -->
	<update id="deleteProjectFile">
		UPDATE PRO_FILE SET 
			DEL_YN='Y'
		WHERE FILE_NO=#{fileNo}
	</update>
	
	
	<!-- 프로젝트 멤버 수 업데이트 -->
	<update id="updateProjectMemberCount" parameterType="Project">
		UPDATE PROJECT SET 
			MEM_COUNT=#{memCount}
		WHERE PRO_NO=#{proNo}
	</update>
	
	
	<!-- 프로젝트 요청하기 -->
	<insert id="insertProjectRequest" parameterType="ProjectRequest">
		INSERT INTO REQUEST VALUES(#{requestMem}, #{responseMem}, #{proNo}, SYSTIMESTAMP, 'N')
	</insert>
	
	<!-- 프로젝트 요청하기 멤버 리스트 가져오기 -->
	<select id="selectProjectRequestList" resultType="ProjectRequest">
		SELECT 
		    REQUEST_MEM as requestMem,
		    RESPONSE_MEM as responseMem,
		    PRO_NO as proNo,
		    REQUEST_DATE as requestDate,
		    READ_YN
		FROM REQUEST
		WHERE PRO_NO=#{proNo}
	</select>
	
	<!-- 프로젝트 요청 삭제 -->
	<delete id="deleteProjectRequest" parameterType="ProjectRequest">
		DELETE FROM REQUEST WHERE PRO_NO=#{proNo} AND RESPONSE_MEM=#{responseMem}
	</delete>
	
	<!-- 프로젝트 요청하기 리스트 가져오기 -->
	<select id="selectProjectRequestMember" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PRO_NO IN (
            SELECT PRO_NO
            FROM REQUEST 
            WHERE RESPONSE_MEM=#{memNo})
	</select>
	
	<!-- 프로젝트 참가하는 멤버 추가하기 -->
	<insert id="insertProjectMember" parameterType="ProjectMember">
		INSERT INTO PRO_MEMBER VALUES(#{proNo}, #{memNo}, 'N', 'N')
	</insert>
	
	<!-- BY 진원 - 특정 개월 이내 월별 프로젝트 실행 개수 통계 -->
	<select id="selectMonthlyProject" resultType="MonthlyProject">
		WITH CHART AS (SELECT TO_CHAR(PRO_DATE,'MM') AS MONTHLY FROM PROJECT
                WHERE TO_CHAR(PRO_DATE,'YYYY-MM-DD')
                BETWEEN TO_CHAR(TRUNC(ADD_MONTHS(SYSTIMESTAMP,-#{monthly}),'MM'),'YYYY-MM-DD')
                AND TO_CHAR(LAST_DAY(SYSTIMESTAMP),'YYYY-MM-DD')
                ORDER BY PRO_DATE DESC)
		SELECT MONTHLY AS monthly, COUNT(MONTHLY) AS monthlyCount FROM CHART
		GROUP BY MONTHLY
	</select>
	
	<!-- BY BY 진원 -일정 목록 가져오기 -->
	<select id="selectPlanList" resultType="ProjectPlan">
		SELECT
			PLAN_NO as planNo,
			PRO_NO as proNo,
			MEM_NO as memNo,
			SUBJECT as subject,
			MEMO as memo,
			START_DATE as startDate,
			END_DATE as endDate,
			DEL_YN as delYN
		FROM PRO_PLAN
		WHERE PRO_NO=#{proNo} AND DEL_YN='N'
	</select>
	
</mapper>
