<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="timeCard">

	<select id="selectHoliday" resultType="Holiday">
		SELECT
			L.LIST_NO AS listNo,
            L.MEM_NO AS memNo,       
			L.HOL_TYPE AS holType,
            L.AFTERNOON_OFF AS afternoonOff,
			TO_DATE(TO_CHAR(START_DATE,'yyyy-MM-dd')) AS "start",
			TO_DATE(TO_CHAR(END_DATE,'yyyy-MM-dd')) AS "end",
            L.HOL_COUNT AS holCount,
        	(M.MEM_NAME || ' ' || DECODE(L.AFTERNOON_OFF,'A','반차','연차')) AS title
        FROM HOLIDAY_LIST L
        INNER JOIN MEMBER M
        ON L.MEM_NO = M.MEM_NO
	</select>
	
	<select id="selectWorkTime" resultType="int" parameterType="hashmap">
		SELECT NVL(SUM(TIMESTP),0) FROM (
        SELECT TRUNC(EXTRACT(HOUR FROM T2) * 60 + EXTRACT(MINUTE FROM T2)) AS TIMESTP FROM (
            SELECT  ATTENDANCE_BOOK.END_DATE - ATTENDANCE_BOOK.START_DATE AS T2 FROM ATTENDANCE_BOOK
            WHERE
	            ATTENDANCE_BOOK.MEM_NO = #{memNo}
	        	AND TO_CHAR(ATTENDANCE_BOOK.YMD,'yyyyMMdd') >= replace(#{startDate}, '-', '')
	            AND TO_CHAR(ATTENDANCE_BOOK.YMD,'yyyyMMdd') <![CDATA[<=]]> replace(#{endDate}, '-', '')
        ))
	</select>
	
	<!-- 근태 조회 -->
	<select id="selectWork" resultType="Attendance" parameterType="hashmap">
    	 SELECT
            ATTENDANCE_BOOK.MEM_NO AS memNo,
            TO_CHAR(ATTENDANCE_BOOK.YMD,'yyyyMMdd') AS YMD,
            ATTENDANCE_BOOK.START_DATE AS startDate,
            ATTENDANCE_BOOK.END_DATE AS endDate,
            ATTENDANCE_BOOK.TODAY_WORK AS todayWork,
            MEM_DEPT.MEM_NAME AS memName,
            MEM_DEPT.DEPT_NAME AS deptName
        FROM 
            ATTENDANCE_BOOK 
        LEFT OUTER JOIN MEM_DEPT ON ATTENDANCE_BOOK.MEM_NO = MEM_DEPT.MEM_NO
        <where> 
        	ATTENDANCE_BOOK.MEM_NO = #{memNo}
        	AND TO_CHAR(ATTENDANCE_BOOK.YMD,'yyyyMMdd') >= replace(#{startDate}, '-', '')
            AND TO_CHAR(ATTENDANCE_BOOK.YMD,'yyyyMMdd') <![CDATA[<=]]> replace(#{endDate}, '-', '')
        </where>
	</select>

</mapper>
