@CHARSET "UTF-8";
	body, html {
		padding: 0;
        margin: 0;
        height: 100%;
        background-color: whitesmoke;
	}

    #form {
		margin: auto;
		padding: 0;
        width: 400px;
        height: 400px;
        text-align: center;
        border: 10px solid #C0936E;
        background-color: #0D3C36;
        vertical-align: middle;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 8px;
	}

	#form p {
		margin: 8px auto;
		margin-top: 58px;
        padding: 0;
        width: 320px;
        color: whitesmoke;
	}

	#form p:nth-child(1) {
		font-size: 40px;
		font-weight: 800;
	}

	#form p:nth-child(2) {
		font-size: 12px;
		font-weight: 700;
	}

	#form p:nth-child(3) {
		padding-bottom: 40px;
		font-size: 12px;
		font-weight: 700;
	}

	.icon {
		width: 40px;
		height: 40px;
		line-height: 40px;
		color: lightgray;
		border: 1px solid lightgray;
	}

	.in-type {
        margin: 4px 0;
        padding: 0;
		width: 280px;
 		height: 40px;
		font-weight: 600;
		text-indent: 16px;
		border: none;
		background-color: whitesmoke;
	}

	.log-type {
		margin: 16px;
		padding: 0px;
		width: 280px;
		height: 40px;
		font-weight: 900;
		border: 1px solid #F7F4BC;
		background-color: #F7F4BC;
		color: #0D3C36;
		font-size: 16px;
		cursor: pointer;
	}
	.in-type::placeholder{
		opacity: 0.8;
	}
	.in-type:focus{
		outline: 2px solid #F7F4BC;
	}
	.log-type:focus{
		outline: none;
	}
	.log-type:hover{
		background-color: #F7F4BC;
		border-color: #F7F4BC;
	}