@CHARSET "UTF-8";

#TitleContents *:focus{
	outline: none;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#TitleName{
	font-family: 'GongGothicMedium';
	font-size: 1.5rem;
}
#TitleName > span{
	font-family: 'GongGothicLight';
	font-size: 1.2rem;
}
/* 모든 a 태그 */
#TitleContents a{
	color: black; padding: 0 5px;
}
/* 모든 버튼 */
#TitleContents button{
	min-width: 28px; height: 25px;
	font-size: 1rem; font-weight: bold;
	padding: 0 10px;
	color: white; background-color: #1D9F8E;
	border-style: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #cccccc;
	cursor: pointer;
}
/* 모든 취소 버튼 */
#TitleContents button.delBtn{
	background-color: #FF6363;
}
/* float 클래스 */
#TitleContents .float{
	float: left;
}
/* 폰트어썸 */
#TitleContents .i-icon{
	color: #78BEB5;
	cursor: pointer;
}
/* select */
#TitleContents select{
	border-radius: 3px;
	/* 화살표 없애기 */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#TitleContents select::-ms-expand {
	display: none;
}