@CHARSET "UTF-8";
		/* 모든 버튼 */
        #TitleContents button{
            min-width: 50px;
            height: 30px;
            margin-right: 5px;
        }
        /* a 태그 */
        #TitleContents #btnPlace a{
        	padding:0;
        }
		/* select 태그 디자인*/
        #TitleContents select{
            display:inline-block;
            width: 120px; height: 30px;
            padding-left: 30px;
            border: 1px solid lightgray;
            background: url(/resources/images/selectarrow2.png) 95% center no-repeat;
        }
        /* 총 사원 수  */
        #totalMemNum{
            font-size: 1.2rem;
        }
        #totalMem{
            font-family: 'GongGothicMedium';
        }
        /* 버튼 3개 div */
        #btnPlace{
        	width:50%;
            padding-top: 30px;
        }
        /* 검색 div */
        #TitleContents #search-div{
            width:50%; text-align: right;
            padding-top: 30px;
        }
        /* select */
        #TitleContents #search-div select{
            width: 85px; height: 30px;
            padding-left: 23px;
            border: 1px solid black;
            background: url(/resources/images/selectarrow.png) 115% center no-repeat;
        }
        /* 검색창 */
        #TitleContents #search-div input{
            width: 100px; height: 30px;
            padding: 0 10px;
            position: relative;
            bottom:1px;
        }
        
        /* 사원 전체 목록 테이블 */
        #memAllListTbl{
            margin: 0 auto;
            width: 100%;
        }
        #memAllListTbl td:first-child{width:5%;}
		#memAllListTbl td:nth-child(2){width:9%;}
		#memAllListTbl td:nth-child(3){width:9%;}
		#memAllListTbl td:nth-child(4){width:9%;}
		#memAllListTbl td:nth-child(5){width:9%;}
		#memAllListTbl td:nth-child(6){width:20%;}
		#memAllListTbl td:nth-child(7){width:15%;}
		#memAllListTbl td:last-child{width:15%;}
        
        /* table tr 크기 */
        /* 사원정보 tr */
        #TitleContents tr:nth-child(2n){
            height: 40px;
            text-align: center;
        }
        /* 직위 변경 공간 tr */
        .positionChangePlace{
            background-color:#FFFAF5;
            display: none;
            height: 60px;
            box-shadow: 1px 1px 5px #E7E0E8 inset;
            border-radius: 5px;
        }
        /* checkbox 있는 td */
        #TitleContents tr:nth-child(2n)>td:first-child{
            text-align: center;
        }
        
        /* 페이지 */
        #pageNavi{
            text-align: center;
            padding: 20px 0;
        }
        