@charset "UTF-8";
/*공지*/
    .notice{
        height: 140px; /*150px*/
    }
    .notice-top{
        height: 30px;
        background-color: white;
        padding-left: 15px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 1px 1px lightgray;
        margin-bottom: 1px;
    }
    .notice-top>a{
        display: block;
        font-size: 14px;
        color: #707070;
        font-weight: 600;
        font-family: 'GongGothicMedium';
    }
    .notice-bottom{
        height: calc(100% - 30px);
        padding: 10px 15px;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    .notice-bottom>a>span{
        display: block;
    }
    .notice-bottom>a>span:nth-child(1){
        font-size: 17px;
        color: #8B8EA1;
        margin-bottom: 5px;
        font-family: 'GongGothicLight';
    }
    .notice-bottom>a>span:nth-child(2){
        height: 35px;
        font-size: 14px;
        color: #8B8EA1;
        margin-bottom: 5px;
        font-weight: 600;
    }
    .notice-bottom>div{
        display: flex;
        align-items: center;
    }
    .notice-bottom>div>img{
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: white;
        margin-right: 5px;
    }
    #notice-icon{
        font-size: 20px;
        color: gray;
        margin-right: 3px;
    }
    .notice-bottom>div>span{
        color: gray;
    }