@charset "UTF-8";
    /*네임카드*/
    .nameCard{
        height: 290px;
        border:8px solid #C0936E;
        background-color: #0D3C36;
        border-radius: 8px;
    }
    .nc-img{
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50px;
        background-color: none;
        margin: 0 auto;
        margin-top:40px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .nc-icon{
		display: block;
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: gray;
        margin: 0 auto;
        margin-top:40px;
        margin-bottom: 10px;
        font-size: 80px;
        color: #F2F2F2;
    }
    .nameCard>span{
        display: block;
        text-align: center;
    }
    .nc-name{
        color: white;
        font-size: 19px;
        font-weight: 700;
        font-family: 'GongGothicLight';
    }
    .nc-dept{
        color: lightgray;
        font-size: 15px;
        margin-bottom: 25px;
    }
    .nameCard>div{
        margin: 20px;
    }
    .nc-state{
        color: #F7F4BC;
    }
    .nc-state:visited{
    	color: #F7F4BC; 
    }
    .nc-state:hover{
        color: white;
    }
    .nc-cont{
        color: lightgray;
        float: right;
    }
    .nc-cont:visited{
    	color: lightgray; 
    }
    .nc-cont:hover{
        color: #68B5F3;
    }