@charset "UTF-8";
    /*근태관리*/
    .work{
        height: 320px;
        background-color: white;
        padding: 20px 15px 0px 15px;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    .work-title{
        color: #3B3E43;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 15px;
        color: #707070;
        font-family: 'GongGothicMedium';
    }
    #clock{
        color: #8B8EA1;
        margin-bottom: 10px;
    }
    .work-today{
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;
        font-family: 'GongGothicLight';
    }
    .work-record{
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .work-record>span{
        font-size: 30px;
    }
    .work-record>a{
        font-size: 20px;
        font-family: 'GongGothicLight';
    }
    .record{
        padding: 0px 10px;
        margin-bottom: 15px;
    }
    .record-name{
        color: #3B3E43;
        font-weight: 700;
    }
    .record-clock{
        float: right;
        color: #8B8EA1;
    }
    .btnStyle{
        width: 100px;
        height: 40px;
        color: #42B9CB;
        background-color: white;
        border: 2px solid #42B9CB;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 600;
        margin-top: 15px;
        cursor: pointer;
        font-family: 'GongGothicLight';

        animation-duration: 0.5s;
        animation-fill-mode	: forwards;
    }
    .btnStyle:focus{
        outline: none;
    }
    .btnStyle:hover{
        animation-name: hoverin;
    }
    @keyframes hoverin{
        from{
        }
        to{
            color: white;
            background-color: #42B9CB;
        }
    }
    #back{
        float: right;
    }