@charset "UTF-8";
    /*조직도*/
    .group{
        height: 470px;
        background-color: white;
        padding: 15px 5px;
        overflow-y: scroll;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    
	/* SCROLL */
	.group::-webkit-scrollbar { /* 스크롤바의 전체 width */
		width: 20px;
	}
	
	.group::-webkit-scrollbar-track { /* 스크롤바의 전체 배경색 */
		background-color: white;
	}
	
	.group::-webkit-scrollbar-thumb { /* 스크롤바 */
	    background-color: #595959;
	    border-radius: 20px;
	    background-clip: padding-box;
	    border: 5px solid transparent;
	}
	.group::-webkit-scrollbar-thumb:hover{
		background-color: #1D9F8E;
	}
	.group::-webkit-scrollbar-button { /* 위 아래 버튼 (버튼 없애기를 함) */
		display: none;
	}

    
    .tree{
      color:#595959;
        font-weight: bold;
    }
    .tree, .tree ul{
      list-style: none;
      padding-left:17px;
    }
    .tree *:before{
      width:17px;
      height:17px;
      display:inline-block;
    }
    #root{
    	font-family: 'GongGothicLight';
    }
    .tree label{
        display: block;
        font-size: 15px;
        cursor: pointer;
        margin-top: 5px;
        font-family: 'GongGothicLight';
    }
    .tree #root:before{ /*회사건물 아이콘*/
      content:'\f1ad';
        font-family: "Font Awesome 5 Free";
    }
    .tree .deptName:before{ /*-아이콘*/
        content:'\f146';
      font-family: "Font Awesome 5 Free";
    }
    .tree span{
      text-decoration: none;
      color:#595959;
        font-weight: bold;
        font-size: 13px;
        /* cursor: pointer; */
        display: block;
        margin-bottom: 1px;
    }
    /* .tree span:hover{
        color: #42B9CB;
    } */
    .tree label:hover{
        color: #42B9CB;
    }
    .tree span:before{ /*사람 실루엣*/
      content:'\f508';
      font-family: "Font Awesome 5 Free";
    }
    .tree input[type="checkbox"] {
      display: none;
    }
    .tree input[type="checkbox"]:checked~ul {
      display: none;
    }
    .tree input[type="checkbox"]:checked+label:before{ /*+아이콘*/
     content:'\f0fe';
        font-family: "Font Awesome 5 Free";
    }
    
