@charset "UTF-8";
    .public-pro{
    	width: 100%;
        height: 330px;
        background-color: white;
        padding: 30px;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    .public-pro>a{
        font-size: 18px;
        color: #707070;
        font-weight: 800;
        font-family: 'GongGothicMedium';
    }
    .public-list{
    	width: 100%;
        margin-top: 20px;
        display: flex;
        height: 240px;
        align-items: center;
        justify-content: space-around;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px lightgray;
    }
    
    /* SCROLL */
	.public-list::-webkit-scrollbar { /* 스크롤바의 전체 width */
		width: 10px;
	}
	
	.public-list::-webkit-scrollbar-track { /* 스크롤바의 전체 배경색 */
		background-color: white;
	}
	
	.public-list::-webkit-scrollbar-thumb { /* 스크롤바 */
	    background-color: #595959;
	    border-radius: 20px;
	    background-clip: padding-box;
	    border: 5px solid transparent;
	}
	.public-list::-webkit-scrollbar-thumb:hover{
		background-color: lightgray;
	}
	.public-list::-webkit-scrollbar-button { /* 위 아래 버튼 (버튼 없애기를 함) */
		display: none;
	}
	
	
    /*프로젝트 스타일*/
    .proStyle{
        width: 190px;
        height: 170px;
        border-radius: 10px;    
        background-color: #86B0BF;
        padding: 15px;
    }
	.proStyle:hover{
	    opacity: 0.9;
	}
	.count-0{
		background-color: white;
		border: 2px solid  black;
	}
    .pro-title{
        display: block;
        height: 80%;
    }
    .pro-title span{
    	color: white;
        font-size: 17px;
        font-weight: 600;
    	cursor: pointer;
    }
    .pro-info{
    	height: 20%;
    	color: white;
    }
/*     .pro-info>a{
        color: white;
    } */
    .projectLike{
        float: right;
        font-size: 20px;
        margin-right: 5px;
        color: white;
        cursor: pointer;
    }
    
	.count-0>.pro-title span{
       	color: black;
    }
    .count-0>.pro-info{
    	color: black;
    }
    .count-0>.pro-info>a{
        color: black;
    }


    