@charset "UTF-8";
    /*참여중인 프로젝트*/
    .in-pro{
        width: 75%;
        height: 100%;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    
    
    /* 참여중인 프로젝트가 없을경우 */
    .in-pro-none{
    	width: 100%;
    	height: 100%;
    	display: flex;
    	background-color: white;
    	align-items: center;
    }
    .attendBtn{
    	margin: 0px auto;
    	width: 250px;
    	height: 80px;
    	text-align: center;
    	line-height: 60px;
    	border: 10px #0D3C36 solid;
    	border-radius:20px;
    	outline: none;
    	cursor: pointer;
    	color: #0D3C36;
    	font-size: 20px;
    	font-weight: bold;
    	background-color: #F7F4BC;
    	opacity: 0.9;
    	font-family: 'GongGothicMedium';
    }
    .attendBtn:active{
    	opacity: 1.0;
    }


    /* 참여중인 프로젝트가 있을경우 */
    .in-pro-top{
        height: 50px;
        padding: 7px 10px;
        background-color: #F5A887;
    }
    .in-pro-top:hover{
        opacity: 0.9;
    }
    .in-pro-top>div{
    	margin-top:6px;
    }

    .in-pro-top>a{
        font-size: 16px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        font-family: 'GongGothicLight';
    }
    
    .in-pro-top>span{
        color: white;
    }
    .inProLike{
        margin-top: 10px;
        float: right;
        font-size: 20px;
        margin-right: 5px;
        color: white;
        cursor: pointer;
    }
    .in-pro-post{
        height: 230px;
        background-color: white;
        padding: 10px;
    }
    
        
	/* 게시물이 없을 경우 */
    .post-none{
    	padding: 10px;
    	height: calc(100% / 6 * 5);
    	font-size: 18px;
    	font-weight: 600;
    	color: darkgray;
    }
    

    /*게시물이 있을 경우*/
    .post-info{
        height: calc(100% / 3);
        padding-top: 10px;
    }
    .post-info>img{
        float: left;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50px;
        margin: 0 10px;
    }
    .post-info>div{
        float: left;
        margin-top: 5px;
    }
    .post-info>div>span:nth-child(1){
        font-size: 14px;
        font-weight: bold;
    }
    .post-info>div>span:nth-child(3){
        color: darkgray;
    }
    #boardMenu{
        float: right;
        font-size: 20px;
        color: darkgray;
        margin-top: 10px;
        margin-right: 12px;
        cursor: pointer;
    }
    .post-content{
        height: calc(100% / 3);
        padding: 0 10px 10px 10px;
    }
    .post-comment{
        height: calc(100% / 6);
        padding: 10px;
    }
    .comment-count{
        height: 100%;
        margin-bottom: 5px;
    }
    .comment-count>span{
        float: right;
        color: darkgray;
    }

    
    /* 바로가기 */
    .shortcutsBtn{
        display: block;
        width: 140px;
        color: darkgray;
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        cursor: pointer;
    }
    .shortcutsBtn:hover{
        opacity: 0.9;
    }