@charset "UTF-8";
    /*사내 규정*/
    .role{
        height: 260px;
    }
    .role-top{
        height: 50px;
        background-color: white;
        padding-left: 20px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 1px 1px lightgray;
        margin-bottom: 1px;
    }
    .role-top>a{
        display: block;
        font-size: 17px;
        color: #707070;
        font-weight: 600;
        font-family: 'GongGothicMedium';
    }
    .role-bottom{
        height: calc(100% - 50px);
        background-color: white;
        padding: 5px 15px;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    #role-data{
        width: 100%;
        height: 100%;
    }
    #ruleHead{
    	height: 20%;
    }
    #ruleBody{
    	height: 80%;
    }
    #role-data th:nth-child(1){
    	width: 15%;
    }
    #role-data th:nth-child(2){
    	width: 70%;
    }
    #role-data td{
        border-top: 1px solid lightgray;
        text-align: center;
        color: #707070;
        font-size: 14px;
        font-family: 'GongGothicLight';
    }
    #role-data a{
        text-align: center;
        color: #707070;
        font-size: 15px;
    }
    #role-data a:hover{
        color: #42B9CB;
    }
    #role-data th{
        font-size: 16px;
        font-family: 'GongGothicLight';
    }
    #roleBtn{
        margin-right: 30px;
    }
    #roleBtn>button{
        margin: 0 10px;
        color: #8B8EA1;
        font-size: 14px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: white;
    }
    #roleBtn>button:hover{
        color: #42B9CB;
    }