@CHARSET "UTF-8";

.adminSpace {padding : 0 30px 30px 30px;}

.adminName {
	font-size: 1rem;
	font-weight: bold;}

.adminLine {margin : 7.5px 0;}

.adminTitle {
	font-size: 1rem;
	margin-right: 5px;}

.adminText {color: gray;}