@CHARSET "UTF-8";

	/*#TitleContents div{border: 1px solid #FFD8D8;}*/	
	#TitleContents .float{float:left;}
	#TitleContents *:focus{outline: 0;}
	#TitleContents a{color: black;}
	
	#record-div{width:90%;min-width:860px;margin:0 auto;}
	#record-div > div{
		width: 31%; height: 550px;
		margin: 0 10px;}
	#record-div > div > div:first-child{
		height: 50px;
		margin-bottom: 10px;
		padding-top: 15px;
		color: white; background-color: #22294A;
		text-align: center;}
	#record-div > div > table{
		width:100%; height: 50px;
		margin-bottom: 10px;
		color: white; background-color: #22294A;}
	#record-div > div > table td{
		padding: 0 10px;}
	
	/* 숫자 있는 td */
	#record-div > div > table td:last-child{	
		width: 120px;
		color: #22294A; background-color: white;
		text-align: center;}
		
	/* 표 있는 div */	
	#record-div > div > div:last-child{	
		height: 370px;
		border: 1px solid gray;}
	
	/* 동그라미 표 */	
	#record-div > div > div:last-child > .graph-div{	
		width: 250px; height: 250px;
		margin: 10px auto;
		border-radius: 100%;}
		
	/* 수치 & 버튼 */
	#record-div > div > div:last-child > div:last-child{text-align: center;}
	#record-div button{
		width: 70px;
		margin-top: 15px;
		padding:5px 10px;
		cursor: pointer;}