@CHARSET "UTF-8";

#header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 0;
	background-color: #22294A;
	color: white;
	font-weight: bold;
	text-decoration : none;}
	
#header #headerClock {margin-left: 210px;}

#header #headerMember {
	height: 40px;
	float: right;
	text-decoration : none;
	color: white;}
	
#header .headerIcon {
	margin-top: 8px;
	margin-right: 5px;}
	
#header #headerText {
	float: right;
	margin: 0 5px;}