@CHARSET "UTF-8";

/*content 2단 레이아웃 스타일*/
.contentsArray {
	width: 85%;
	min-width: 1000px;
	margin: 0 auto;}

.contentsArray #presentTer {
	width: 60%;
	min-width: 600px;}

.contentsArray #toDoTer {
	width: 30%;
	min-width: 300px;}

.contentsArray #statsTer {
	width: 92.5%;
	min-width: 1000px;}

.contentsArray .content {
	padding: 20px;
	margin: 20px;
	float: left;
	height: auto;
	min-height: 400px;
	background-color: white;
	border-radius: 5px;
	border: 0;
	box-shadow: 0 0 6px #B3B3B3;}

/*영역 테이블 스타일*/
.contentsArray .terTblStyle {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
	border-radius: 5px;}
.contentsArray .terTblStyle th {
	padding: 10px;
	background-color: #22294A;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: 2px solid #22294A;}
.contentsArray .terTblStyle td {border: 2px solid #dcdcdc;}

/*원형 그래프 스타일*/
.contentsArray #donutchart {
	height: 400px;
	margin: 0 auto;}

/*toDoList 스타일*/	
.contentsArray .toDoList {
	margin: 0 auto;
	width: 90%;
	border: none;
	font-weight: bold;
	padding-bottom: 8px;}
.contentsArray .toDoList td {
	padding: 10px;
	border: 1px solid #dcdcdc;
	border-top: none;
	border-left: none;
	border-right: none;}
.contentsArray .toDoList span {
	background-color: rgba(255, 184, 184, 0.3);
	text-align: left;}
.contentsArray .toDoList p {text-align: right;}

/*프로젝트 통계 스타일*/	
.contentsArray .projectTbl {width: 50%;}

/*막대 그래프 스타일*/
.contentsArray #columnchart_material {
	width: 100%;
	padding: 20px;}