@CHARSET "UTF-8";

	/*#TitleContents div{
		border: 1px solid #FFD8D8;}*/
	
	.float{float:left;}
	
	#TitleContents *:focus{outline: 0;}
	#TitleContents a{color: black;}
	
	/* 모든 input */
	#TitleContents input{
		height: 100%;
		border: 1px solid lightgray;
		padding: 0 5px;
		margin-right: 10px;}
		
	/* 모든 button */
	#TitleContents button{
		height: 100%;
		cursor: pointer;}
	
    /* 초기화 영역 */
	#init-div{
		height: 30px;
		padding-left: 5%;}
	#init-div > #selectMember{height: 100%; display:none;}
	
	/* 검색 된 정보 */
    #init-div > #selectMember > table{  
    	width: 50%; height: 100%;
    	text-align: center;
    	margin-left: 20px;
    	background-color: rgba(255, 184, 184, 0.4);}
    #init-div > #selectMember > table tr{}
    #init-div > #selectMember > table td{
    	width: 80px;
    	padding: 0 5px;}
    #init-div > #selectMember > table td:nth-child(2n){
    	background-color: white;}
    	
    /* 초기화 버튼 */	
    #init-div > #selectMember > #init-btn{width: 110px;}
        
    /* 로그 영역 */
	#log-div{
		width: 90%;
		margin: 0 auto;
		margin-top: 50px;}
	#log-div > div:first-child{
		height: 30px;
		text-align: right;
		margin-bottom: 10px;}
	#log-div > div:first-child input{
		position: relative;
		bottom: 4px;}
	#log-div > div:first-child > *{
		height: 100%;
		margin-right: 10px;}
		
	/* 로그 테이블 */
	#log-div table{width: 100%; height: 300px;}
	#log-div table tr{height: 57px;}
	#log-div table td{
		padding: 0 5px;
		text-align: center;}
	#log-div table td:first-child{width: 150px;}
	#log-div table td:last-child > div{
		width: 100px; height: 30px;
		margin: 0 auto;
		padding-top: 7px;
		border-radius: 5px;}
	#log-div > div#pageNabi{
		margin-top: 10px;
		text-align: center;}
	
	/* 로그 성공 & 실패 */
	.successLog{
		color: white;
		text-shadow: 0 0 1px white;
		background-color: rgba(29, 159, 142, 0.4);}
	.failLog{
		color: white;
		text-shadow: 0 0 1px white;
		background-color: rgba(67, 116, 217, 0.4);}
