@CHARSET "UTF-8";

#sideNavi {
	width: 200px;
	height: 100%;
	float: left;
	overflow-y: auto;
	background-color: #22294A;
	color: white;
	font-weight: bold;
	padding-top: 10px;}
	
#sideNavi #teamName {
	text-align: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 15px 0;
	margin: 10px 10px 20px 10px;}
	
#sideNavi .naviNo {line-height: 50px;}

#sideNavi .naviIcon {
	width: 40px;
	float: left;
	padding: 17.5px 0 0 10px;}
	
#sideNavi .naviClick {
	float: right;
	padding: 17.5px 10px 0 0;}

#sideNavi .aStyle {
	color: white;
	cursor: pointer;
	overflow: hidden;}
	
#sideNavi .hoverColor {opacity: 0.8;}
#sideNavi .hoverColor:hover {opacity: 1.0;}

#sideNavi .click {background-color: rgba(255, 184, 184, 0.1);}

#sideNavi .accordion {
	background-color: rgba(255, 255, 255, 0.1);
	height: 0px;}
	
#sideNavi .accordionList {
	padding: 10px 0;
	text-align: center;
	color: white;}
