@CHARSET "UTF-8";

#projectBox {
	padding-top: 10px;
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}

#projectLeft {
	width: 80%;
	float: left;
}

#projectRight {
	width: 20%;
	float: left;
}

#projectDetail {
	width: 98%;
	height: 100px;
	background-color: #999999;
	border-radius: 3px;
}

#DetailTop {
	width: 93%;
	height: 100%;
	margin: 0 auto;
	padding-top: 20px;
}

#projectName {
	color: white;
	font-size: 1.50rem;
	font-weight: 800;
}

#projectExp {
	padding-top: 10px;
	color: white;
	font-weight: 800;
}

#projectSetting {
	float: right;
	cursor: pointer;
}

#projectNavi>li {
	float: left;
	width: 14%;
}

#projectNavi>li>a {
	color: white;
	font-weight: 500;
	font-size: 1rem;
}

#newBoard {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	color: black;
	font-weight: 800;
	text-align: center;
	background-color: white;
	border: 0;
	cursor: pointer;
}

/* ----------------------게시물 작성---------------------- */
#boardWriteTitle {
	font-weight: 800;
	font-size: 1rem;
}

#boardWrite {
	width: 98%;
	border: 1px solid #cccccc;
	margin-top: 20px;
	border-radius: 5px;
}

#boardSelect {
	width: 100%;
	height: 50px;
	line-height: 50px;
}

#boardSelect>li {
	width: 25%;
	float: left;
	text-align: center;
	font-size: 1rem;
	font-weight: 800;
	color: #999999;
	border-bottom: 1px solid #cccccc;
}

#boardSelect>li:nth-child(1) {
	color: #8041D9;
}

.modeSelect {
	font-size: 1rem;
	font-weight: 800;
	cursor: pointer;
}

.modeSelect:hover {
	color: #8041D9;
}

#boardWriteContents {
	width: 100%;
	min-height: 100px;
	height: auto;
}

/*------------submit 버튼 */
.boardWriteBot {
	width: 100%;
	height: 50px;
	border-top: 1px solid #cccccc;
}

.fileUploadBox {
	width: 15%;
	height: 100%;
	border-right: 1px solid #cccccc;
	float: left;
}

.fileUpload {
	display: none;
}

.imgUpload {
	display: none;
}

.fileUploadImg {
	font-size: 2rem;
	padding-left: 20px;
	color: #999999;
	cursor: pointer;
}

.fileNameBox {
	width: 60%;
	height: 100%;
	float: left;
}

.fileName {
	outline: none;
	width: 75%;
	height: 100%;
	text-align: right;
	float: left;
	border: 0;
		cursor:default;
}

.fileSize {
	outline: none;
	width: 20%;
	height: 100%;
	text-align: center;
	float: left;
	border: 0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
		cursor:default;
}

	.boardUpload{
		width:15%;
		height: 100%;
		float: right;
		padding-top: 5px;
	}

.publicYN {
	width: 80px;
	height: 40px;
	border-radius: 5px;
}

.uploadBtn {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
	background-color: #999999;
	color: white;
	font-weight: 800;
	font-size: 1rem;
}
#codeBox {
	display: none;
	width: 100%;
	height: auto;
}

/* -----------------projectRight---------------------- */
#backward {
	width: 100%;
	height: 50px;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
	text-align: left;
	padding-left: 15px;
	border: 1px solid black;
}

#backward:hover {
	border-color: #1D9F8E;
	color: #1D9F8E;
}

#inviteBtn {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	cursor: pointer;
	color: white;
	background-color: #999999;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
	text-align: center;
	border: 1px solid #999999;
}

#memberListBox {
	margin-top: 5px;
	width: 100%;
	height: auto;
	min-height: 250px;
	height: 250px;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
	text-align: left;
	border: 1px solid #cccccc;
}

#memberListTop {
	width: 100%;
	height: 25px;
	overflow: hidden;
}

#memberListTop>span {
	padding: 5px 5px 5px 15px;
	float: left;
}

#memberAllList {
	padding: 5px 5px 5px 15px;
	background-color: white;
	border-radius: 5px;
	border: 0;
	color: #999999;
	float: right;
	cursor: pointer;
}

#memberListBot {
	width: 100%;
	height: calc(100% - 25px);
}

.memberList {
	width: 100%;
	height: 40px;
	font-weight: 400;
	overflow: hidden;
}

.memberList div:nth-child(1) {
	width: 20%;
	float: left;
	font-size: 2rem;
	padding-left: 10px;
	color: #999999;
}

.memberList div:nth-child(2) {
	width: 80%;
	float: left;
	font-size: 1rem;
	padding-left: 10px;
	line-height: 40px;
}

/* --------------------------프로젝트 옵션 ---------------------------*/
#projectOption {
	width: 200px;
	height: auto;
	margin-left: 530px;
	border: 1px solid #BFBFBF;
	background-color: white;;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	display: none;
}
#projectComplate{
	cursor: pointer;
}
.optionRegular {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #808080;
}

.optionBold {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: 800;
	font-size: 1rem;
	color: #333333;
}

.optionRegular:nth-child(2) {
	color: red;
}

#projectExit, #projectModify, #projectDelete, #mgrComment, #mgrFile {
	cursor: pointer;
}

#projectModify:hover, #projectDelete:hover, #mgrComment:hover, #mgrFile:hover
	{
	color: #8041D9;
}

/* -----------------------프로젝트 수정 박스------------------------ */
#newProjectBox {
	width: 500px;
	height: 500px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 150px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	z-index: 2;
	display: none;
}

#newProjectHeader {
	width: 100%;
	height: 10%;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #BFBFBF;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 60px;
	font-size: 1rem;
}

#newProjectExit {
	float: right;
	padding-right: 20px;
	cursor: pointer;
	padding-top: 22px;
}

#newProjectSubject {
	width: calc(100% - 80px);
	height: 60px;
	margin: 30px 40px 0px 40px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
}

#newProjectExplain {
	width: calc(100% - 80px);
	height: 80px;
	margin: 10px 40px 0px 40px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	resize: none;
	font-family: "맑은 고딕";
}

#newProjectSubject::placeholder, #newProjectExplain::placeholder {
	color: #BFBFBF;
	line-height: 40px;
}

#newProjectSubject:focus, #newProjectExplain:focus {
	outline-color: #999999;
	outline-width: 1px;
}

#newProjectOption {
	width: calc(100% - 80px);
	margin: 10px 40px 30px 40px;
	font-size: 1rem;
	font-weight: 800;
}

/* 체크박스 애니메이션 */
.optionList {
	width: calc(100% - 80px);
	margin: 15px 40px 10px 40px;
	font-size: 0.875rem;
}

.setting .btn-switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 12px;
	float: right;
	margin: 3px 0 0 0;
}

.setting .btn-switch input {
	display: none;
}

.setting .slide-object {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	border-radius: 20px;
}

.setting .slide-object:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 0;
	bottom: -3px;
	background: #efefef;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 2px 2px #bfbebe;
	-moz-box-shadow: 0 2px 2px #bfbebe;
	-webkit-box-shadow: 0 2px 2px #bfbebe;
}

.setting input:checked+.slide-object {
	background: rgba(81, 214, 151, 0.62);
}

.setting input:checked+.slide-object:before {
	transform: translateX(16px);
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	-moz-transform: translateX(16px);
	-o-transform: translateX(16px);
	background: #07ce72;
}

.projectBtnSize {
	width: 130px;
	height: 50px;
	line-height: 50px;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #BFBFBF;
	background-color: white;
	border-radius: 5px;
	color: #198C7D;
	font-weight: 800;
	font-size: 0.875rem;
	box-sizing: border-box;
	box-shadow: 3px 3px 6px #808080;
	cursor: pointer;
}

#newProjectSubmitBtn {
	width: 102%;
	height: 105%;
	background-color: #808080;
	border: #808080;
	color: white;
	font-weight: 800;
	font-size: 0.875rem;
	border-radius: 5px;
	cursor: pointer;
}

/* --------------------------초대하기 박스-------------------------- */
#inviteBox {
	width: 500px;
	height: 570px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 150px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#inviteHeader {
	width: 100%;
	height: 50px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 50px;
	text-align: center;
}

#inviteName {
	padding-right: 30px;
	font-size: 1rem;
}

#inviteExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#inviteSearchBox {
	width: 100%;
	height: 30px;
	background-color: #999999;
	color: white;
	overflow: hidden;
	text-align: center;
}

#memberSearch {
	width: 80%;
	height: 20px;
	border: 0;
	border-radius: 3px;
}

#memberSearch::placeholder {
	color: #BFBFBF;
}

#memberSearchImg {
	width: 40px;
}

#inviteContents {
	width: 100%;
	height: 488px;
	overflow-y: scroll;
}

#inviteContents::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#inviteContents::-webkit-scrollbar-track {
	background-color: white;
	border: 1px solid #BFBFBF;
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* 스크롤바의 전체 배경색 */
#inviteContents::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#inviteContents::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#inviteContents::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

.inviteMemberList {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #BFBFBF;
}

.inviteMemberImg {
		width: 10%;
		height: 100%;
		float: left;
		color: #999999;
		font-size: 2rem;
		padding: 10px 2px 2px 15px;
	}

.inviteMemberInfo {
	width: 65%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.inviteMemberName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 0.875rem;
	line-height: 30px;
	font-weight: 800;
}

.inviteMemberPosition {
	width: 100%;
	height: 40%;
	float: left;
	font-size: 0.750rem;
	line-height: 10px;
}

.memberAdd {
	width: 25%;
	height: 100%;
	float: left;
}

.memberAddBox {
	width: 90px;
	height: 30px;
	border: 1px solid #808080;
	border-radius: 3px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 0.8rem;
	font-weight: 800;
	cursor: pointer;
	color: #808080;
	transition: 0.3s;
}

/* -----------------멤버 전체보기 박스-------------------- */
#memberAllListBox {
	width: 500px;
	height: 570px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 150px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#memberAllListHeader {
	width: 100%;
	height: 50px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 50px;
	text-align: center;
}

#memberAllListName {
	padding-right: 30px;
	font-size: 1rem;
}

#memberAllListExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#memberAllListSearchBox {
	width: 100%;
	height: 30px;
	background-color: #999999;
	color: white;
	overflow: hidden;
	text-align: center;
}

#memberAllListSearch {
	width: 80%;
	height: 20px;
	border: 0;
	border-radius: 3px;
}

#memberAllListSearch::placeholder {
	color: #BFBFBF;
}

#memberAllListSearchImg {
	width: 40px;
}

#memberAllListContents {
	width: 100%;
	height: 488px;
	overflow-y: scroll;
}

#memberAllListContents::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#memberAllListContents::-webkit-scrollbar-track {
	background-color: white;
	border: 1px solid #BFBFBF;
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* 스크롤바의 전체 배경색 */
#memberAllListContents::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#memberAllListContents::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#memberAllListContents::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

.memberAllListLabel {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #BFBFBF;
}

.memberAllListImg {
	width: 10%;
	height: 100%;
	float: left;
	color: #999999;
	font-size: 2rem;
	padding: 10px 2px 2px 15px;
	}

.memberAllListInfo {
	width: 65%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.memberAllListName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 0.875rem;
	line-height: 30px;
	font-weight: 800;
}

.memberAllListPosition {
	width: 100%;
	height: 40%;
	float: left;
	font-size: 0.750rem;
	line-height: 10px;
}

.memberAllListSet {
	width: 25%;
	height: 100%;
	float: left;
}

.memberAllListSetAdminDis {
	width: 50%;
	height: 30px;
	border-radius: 15px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-weight: 800;
	color: #808080;
	background-color: #8041D9;
	color: white;
	float: left;
}

.memberAllListSetAdmin {
	width: 5%;
	float: right;
	margin: 15px;
	color: #999999;
	cursor: pointer;
}

.memberAdminBox {
	position: absolute;
	width: 120px;
	height: auto;
	right: 20px;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 5px;
	display: none;
}

.memberAdminList {
	width: 100%;
	padding: 5px 0px 5px 10px;
}

/*--------------------글/댓글 작성 권한 설정 박스------------------*/
#boardCommentSet {
	width: 500px;
	height: 230px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 200px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#boardCommentHeader {
	width: 100%;
	height: 40px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 40px;
	text-align: center;
}

#boardCommentName {
	padding-right: 30px;
	font-size: 1rem;
}

#boardCommentExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#boardCommentContents {
	width: 100%;
	height: calc(100% - 40px);
	padding: 10px;
}

.boardCommentBold {
	font-weight: 800;
	font-size: 1rem;
	padding: 5px;
}

.boardCommentRegular {
	padding: 5px;
}

/*--------------------파일 다운로드 권한 설정 박스------------------*/
#fileSet {
	width: 500px;
	height: 120px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 230px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#fileHeader {
	width: 100%;
	height: 40px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 40px;
	text-align: center;
}

#fileName {
	padding-right: 30px;
	font-size: 1rem;
}

#fileExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#fileContents {
	width: 100%;
	height: calc(100% - 40px);
	padding: 10px;
}

.fileRegular {
	padding: 5px;
}

/* ------------------ 일반 글 작성 ---------------------*/
#writeBox {
	width: 100%;
	height: auto;
}

.boardWriteText {
	width: 100%;
	padding: 30px;
	font-family: "맑은 고딕";
	font-size: 0.875rem;
	resize: none;
	border: 0;
	outline: none;
}



/* ------------------ 일정 작성일 때----------------------*/
#scheduleBox {
	width: 100%;
	height: auto;
	display: none;
}

#scheduleBoxTop {
	width: 100%;
	height: 50px;
	padding: 10px 30px 10px 30px;
	line-height: 25px;
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF;
}

.scheduleImg {
	margin-right: 20px;
	height: 100%;
	font-size: 0.875rem;
	float: left;
	font-size: 1.6rem;
	color: #4D4D4D;
}

#line {
	width: 5%;
	height: 100%;
	font-size: 1.5rem;
	float: left;
	text-align: center;
}

.scheduleDate {
	width: 17%;
	height: 100%;
	font-size: 1rem;
	float: left;
	text-align: center;
	margin-right: 10px;
	border: 1px solid #cccccc;
	color: #4D4D4D;
	font-weight: 800;
	outline: none;
}

.scheduleTime {
	width: 15%;
	height: 100%;
	font-size: 1rem;
	float: left;
	text-align: center;
	border: 1px solid #cccccc;
	color: #4D4D4D;
	font-weight: 800;
	outline: none;
}

#scheduleBoxBot {
	width: 100%;
	height: 50px;
	padding: 10px 30px 10px 30px;
	line-height: 30px;
	border-bottom: 1px solid #BFBFBF;
}

#scheduleMember {
	width: auto;
	float: left;
}

#scheduleMember>input {
	width: 50px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	text-align: center;
	background-color: #999999;
	color: white;
	font-weight: 800;
}

#scheduleAdd {
	width: 100px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	outline: none;
}

.scheduleMemberDelete {
	font-size: 10px;
	cursor: pointer;
}

#scheduleMemoBox {
	width: 100%;
	height: 50px;
	padding: 10px 30px 10px 30px;
	line-height: 30px;
}

#scheduleMemo {
	width: 80%;
	height: 100%;
	outline: 0;
	border: 0;
}

/* ------------------ 할일 작성일 때----------------------*/

#workBox {
	width: 100%;
	height: auto;
	display: none;
}

.workList {
	width: 100%;
	height: 50px;
	padding: 10px 30px 10px 50px;
	border-top: 1px solid #BFBFBF;
}

.workDelete {
	font-size: 1.2rem;
	color: red;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
	float: left;
}

.workTitle {
	width: 65%;
	height: 100%;
	outline: none;
	border: 0;
	float: left;
}

.workDate {
	height: 100%;
	font-size: 1rem;
	text-align: center;
	border: 1px solid #cccccc;
	color: #4D4D4D;
	font-weight: 600;
	outline: none;
	margin-right: 15px;
	border-radius: 5px;
}

.workMember {
	margin: 5px;
	font-size: 1.5rem;
	float: left;
	color: #cccccc;
	cursor: pointer;
}

#workAdd {
	width: 100%;
	height: 50px;
	padding: 10px 40px 10px 30px;
	border-top: 1px solid #BFBFBF;
}

.workAddBtn {
	font-size: 1.2rem;
	color: blue;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
	float: left;
}

#workHidden {
	display: none;
}

#projectName {
	color: white;
	font-size: 1.50rem;
	font-weight: 800;
}

.imgUp{
		max-width: 90%;
		margin: 0px 30px 0px 30px;
		height: auto;
	}
	
.likeBtn{
	color: yellow;
}

#projectFavor{
	font-size: 1.5rem;
	cursor: pointer;
}