@CHARSET "UTF-8";

.projectList {
	width: 100%;
	overflow: hidden;
}

.projectBox {
	width: 180px;
	height: 150px;
	margin: 5px;
	border-radius: 10px;
	float: left;
}

#contentsDetail {
	overflow-y: scroll;
}

#contentsDetail::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#contentsDetail::-webkit-scrollbar-track {
	background-color: white;
}
/* 스크롤바의 전체 배경색 */
#contentsDetail::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#contentsDetail::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#contentsDetail::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

/* 프로젝트 별 상세 내용 */
.projectSubject {
	padding: 10px;
	color: white;
	text-decoration: none;
}

.projectBox>a {
	text-decoration: none;
	cursor: pointer;
}

.projectMember {
	color: white;
	margin-top: 60px;
	padding: 10px;
	width: 80%;
	float: left;
	font-size: 0.750rem;
}

.projectLike {
	margin-top: 60px;
	padding: 3px;
	width: 20%;
	float: left;
	font-size: 1.2rem;
	color: white;
	cursor: pointer;
}

.likeBtn {
	color: yellow;
}


/* 새 프로젝트 버튼 */
#newProjectBtn {
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #1D9F8E;
	text-align: center;
	float: right;
	cursor: pointer;
	border-radius: 5px;
	font-size: 0.875rem;
	box-shadow: 3px 3px 5px #cccccc;
	color: white;
	font-weight: 800;
}

#TitleContents>div:nth-child(1) {
	float: left;
}

/* 프로젝트 버튼누르면 나오는 박스(새 프로젝트 만들기) */
#newProjectBox {
	width: 500px;
	height: 500px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 250px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	z-index: 1;
	display: none;
}

#newProjectHeader {
	width: 100%;
	height: 10%;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #BFBFBF;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 60px;
	font-size: 1rem;
}

#newProjectExit {
	float: right;
	padding-top: 25px;
	padding-right: 20px;
	cursor: pointer;
}

#newProjectSubject {
	width: calc(100% - 80px);
	height: 60px;
	margin: 30px 40px 0px 40px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
}

#newProjectExplain {
	width: calc(100% - 80px);
	height: 80px;
	margin: 10px 40px 0px 40px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	resize: none;
	font-family: "맑은 고딕";
}

#newProjectSubject::placeholder, #newProjectExplain::placeholder {
	color: #BFBFBF;
	line-height: 40px;
}

#newProjectSubject:focus, #newProjectExplain:focus {
	outline-color: #999999;
	outline-width: 1px;
}

#newProjectOption {
	width: calc(100% - 80px);
	margin: 10px 40px 30px 40px;
	font-size: 1rem;
	font-weight: 800;
}

/* 체크박스 애니메이션 */
.optionList {
	width: calc(100% - 80px);
	margin: 15px 40px 10px 40px;
	font-size: 0.875rem;
}

.setting .btn-switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 12px;
	float: right;
	margin: 3px 0 0 0;
}

.setting .btn-switch input {
	display: none;
}

.setting .slide-object {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	border-radius: 20px;
}

.setting .slide-object:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 0;
	bottom: -3px;
	background: #efefef;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 2px 2px #bfbebe;
	-moz-box-shadow: 0 2px 2px #bfbebe;
	-webkit-box-shadow: 0 2px 2px #bfbebe;
}

.setting input:checked+.slide-object {
	background: rgba(81, 214, 151, 0.62);
}

.setting input:checked+.slide-object:before {
	transform: translateX(16px);
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	-moz-transform: translateX(16px);
	-o-transform: translateX(16px);
	background: #07ce72;
}

.projectBtnSize {
	width: 130px;
	height: 50px;
	line-height: 50px;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #BFBFBF;
	background-color: white;
	border-radius: 5px;
	color: #198C7D;
	font-weight: 800;
	font-size: 0.875rem;
	box-sizing: border-box;
	box-shadow: 3px 3px 6px #808080;
	cursor: pointer;
}

#newProjectSubmitBtn {
	width: 102%;
	height: 105%;
	background-color: #808080;
	border: #808080;
	color: white;
	font-weight: 800;
	font-size: 0.875rem;
	border-radius: 5px;
	cursor: pointer;
}

/* 초대하기 박스 */
#inviteBox {
	width: 500px;
	height: 570px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 250px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#inviteHeader {
	width: 100%;
	height: 50px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 50px;
	text-align: center;
}

#inviteName {
	padding-right: 30px;
	font-size: 1rem;
}

#inviteExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#inviteSearchBox {
	width: 100%;
	height: 30px;
	background-color: #999999;
	color: white;
	overflow: hidden;
	text-align: center;
}

#memberSearch {
	width: 80%;
	height: 20px;
	border: 0;
	border-radius: 3px;
}

#memberSearch::placeholder {
	color: #BFBFBF;
}

#memberSearchImg {
	width: 40px;
}

#inviteContents {
	width: 100%;
	height: 488px;
	overflow-y: scroll;
}

#inviteContents::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#inviteContents::-webkit-scrollbar-track {
	background-color: white;
	border: 1px solid #BFBFBF;
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* 스크롤바의 전체 배경색 */
#inviteContents::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#inviteContents::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#inviteContents::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

.inviteMemberList {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #BFBFBF;
}

.memberImg {
	width: 10%;
	height: 100%;
	float: left;
	color: #999999;
	font-size: 2rem;
	padding: 2px 2px 2px 15px;
}

.memberInfo {
	width: 65%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.memberName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 0.875rem;
	line-height: 30px;
	font-weight: 800;
}

.memberPosition {
	width: 100%;
	height: 40%;
	float: left;
	font-size: 0.750rem;
	line-height: 10px;
}

.memberAdd {
	width: 25%;
	height: 100%;
	float: left;
}

.memberAddBox {
	width: 90px;
	height: 30px;
	border: 1px solid #808080;
	border-radius: 3px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 0.8rem;
	font-weight: 800;
	cursor: pointer;
	color: #808080;
	transition: 0.3s;
}

.noneProject {
	width: 100%;
	padding: 60px 0px 60px 20px;
	font-size: 1rem;
	text-align: left;
	float: left;
	font-weight: 800;
}

.projectDetailBtn {
	border: 0;
	background: none;
	cursor: pointer;
	color: white;
	outline: none;
}

.projectClass {
	padding-bottom: 20px;
}