#projectBox {
	padding-top: 10px;
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}

#projectLeft {
	width: 80%;
	float: left;
}

#projectRight {
	width: 20%;
	float: left;
}

#projectDetail {
	width: 98%;
	height: 130px;
	background-color: #999999;
	border-radius: 3px;
}

#DetailTop {
	width: 93%;
	height: 65%;
	border-bottom: 1px solid #bfbfbf;
	margin: 0 auto;
	padding-top: 20px;
}

#DetailBot {
	width: 93%;
	height: 35%;
	line-height: 40px;
	margin: 0 auto;
}

#projectName {
	color: white;
	font-size: 1.50rem;
	font-weight: 800;
}

#projectExp {
	padding-top: 10px;
	color: white;
	font-weight: 800;
}

#projectSetting {
	float: right;
	cursor: pointer;
}

#projectNavi>li {
	float: left;
	width: 14%;
}

#projectNavi>li>a {
	color: white;
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
}

#projectNavi>li>a:hover {
	font-weight: 800;
	color: #2CF2D8;
}

#newBoard {
	width: 80px;
	height: 35px;
	border-radius: 2px;
	color: black;
	font-weight: 700;
	text-align: center;
	background-color: white;
	border: 0;
	cursor: pointer;
	margin-top: 5px;
	outline: none;
}


/* -----------------------게시물--------------------- */
.boardBox {
	width: 98%;
	border: 1px solid #cccccc;
	margin-top: 20px;
	border-radius: 5px;
}

.boardInfo {
	width: 100%;
	height: 50px;
}



.memberInfo {
	width: 83%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.memberAdmin {
	width: 10%;
	height: 100%;
	float: left;
	padding: 15px;
	color: #999999;
}

.memberName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 1rem;
	line-height: 30px;
	font-weight: 800;
}

.boardTime {
	width: 100%;
	height: 40%;
	float: left;
	font-size: 0.875rem;
	line-height: 10px;
	color: #999999
}

.boardSet {
	cursor: pointer;
}

.boardContents {
	padding: 20px;
	overflow: visible;
}

.textarea {
	width: 100%;
	height: auto;
	border: 0;
	background-color: white;
	resize: none;
	font-family: "맑은 고딕";
	font-size: 0.875rem;
	outline: none;
}

.commentCount {
	padding: 20px 20px 5px 0px;
	text-align: right;
	font-weight: 800;
	color: #999999;
}

.commentWrite {
	width: 100%;
	height: 55px;
	padding: 10px 20px 0px 10px;
	overflow: hidden;
	background-color: #F2F2F2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #cccccc;
	border-top: 1px solid #E6E6E6;
}

.commentUser {
	width: 7%;
	font-size: 2rem;
	float: left;
}

.commentText {
	width: 93%;
	height: 100%;
	float: left;
}

.boardComment {
	width: 100%;
	height: 34px;
	border: 1px solid #cccccc;
	outline: none;
}

.commentList {
	padding: 0px 20px 0px 10px;
}

.commentInfo {
	width: 93%;
	float: left;
	border-top: 1px solid #F2F2F2;
}

.commentName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 0.875rem;
	line-height: 30px;
	font-weight: 800;
}

.commentTextArea {
	width: 100%;
	height: auto;
	float: left;
	background-color: white;
	font-family: "맑은 고딕";
	font-size: 0.875rem;
	resize: none;
	border: 0;
	padding-bottom: 1rem;
	outline: none;
}
.commentInfo {
	width: 93%;
	float: left;
	border-top: 1px solid #F2F2F2;
}

.commentUserImg{
           	width: 7%;
            font-size: 2rem;
            float: left;
            color: #999999;
			border-top: 1px solid #F2F2F2;
            padding: 10px 0px 0px 10px;
        }

.commentTime {
	color: #999999;
	padding-left: 0.4rem;
	font-size: 0.650rem;
}

/* projectRight */
#backward {
	width: 100%;
	height: 50px;
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
	text-align: left;
	padding-left: 15px;
	border: 1px solid black;
}

#backward:hover {
	border-color: #1D9F8E;
	color: #1D9F8E;
}

#inviteBtn {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	cursor: pointer;
	color: white;
	background-color: #999999;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
	text-align: center;
	border: 1px solid #999999;
}

#memberListBox {
	margin-top: 5px;
	width: 100%;
	height: auto;
	min-height: 250px;
	height: 250px;
	border-radius: 5px;
	font-weight: 800;
	font-size: 1rem;
	text-align: left;
	border: 1px solid #cccccc;
}

#memberListTop {
	width: 100%;
	height: 25px;
	overflow: hidden;
}

#memberListTop>span {
	padding: 5px 5px 5px 15px;
	float: left;
}

#memberAllList {
	padding: 5px 5px 5px 15px;
	background-color: white;
	border-radius: 5px;
	border: 0;
	color: #999999;
	float: right;
	cursor: pointer;
}

#memberListBot {
	width: 100%;
	height: calc(100% - 25px);
}

.memberList {
	width: 100%;
	height: 40px;
	font-weight: 400;
	overflow: hidden;
}

.memberList div:nth-child(1) {
	width: 20%;
	float: left;
	font-size: 2rem;
	padding-left: 10px;
	color: #999999;
}

.memberList div:nth-child(2) {
	width: 80%;
	float: left;
	font-size: 1rem;
	padding-left: 10px;
	line-height: 40px;
}

/* 프로젝트 옵션 */
#projectOption {
	width: 200px;
	height: auto;
	margin-left: 530px;
	border: 1px solid #BFBFBF;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	display: none;
}

.optionRegular {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #808080;
}

.optionBold {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: 800;
	font-size: 1rem;
	color: #333333;
}

.optionRegular:nth-child(2) {
	color: red;
}

#projectExit, #projectModify, #projectDelete, #mgrComment, #mgrFile {
	cursor: pointer;
}

#projectModify:hover, #projectDelete:hover, #mgrComment:hover, #mgrFile:hover
	{
	color: #8041D9;
}

.boardModifyBox {
	position: relative;
	width: 100px;
	height: auto;
	right: 80px;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 5px;
	text-align: center;
	display: none;
}

.boardModifyList {
	width: 100%;
	padding: 5px 0px 5px 5px;
	cursor: pointer;
	color: #999999;
}

.boardModifyList:hover {
	color: black;
}

/* -----------------------프로젝트 수정 박스------------------------ */
#newProjectBox {
	width: 500px;
	height: 500px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 150px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	z-index: 2;
	display: none;
}

#newProjectHeader {
	width: 100%;
	height: 10%;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #BFBFBF;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 60px;
	font-size: 1rem;
}

#newProjectExit {
	float: right;
	padding-right: 20px;
	cursor: pointer;
	padding-top: 22px;
}

#newProjectSubject {
	width: calc(100% - 80px);
	height: 60px;
	margin: 30px 40px 0px 40px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
}

#newProjectExplain {
	width: calc(100% - 80px);
	height: 80px;
	margin: 10px 40px 0px 40px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	resize: none;
	font-family: "맑은 고딕";
}

#newProjectSubject::placeholder, #newProjectExplain::placeholder {
	color: #BFBFBF;
	line-height: 40px;
}

#newProjectSubject:focus, #newProjectExplain:focus {
	outline-color: #999999;
	outline-width: 1px;
}

#newProjectOption {
	width: calc(100% - 80px);
	margin: 10px 40px 30px 40px;
	font-size: 1rem;
	font-weight: 800;
}

/* 체크박스 애니메이션 */
.optionList {
	width: calc(100% - 80px);
	margin: 15px 40px 10px 40px;
	font-size: 0.875rem;
}

.setting .btn-switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 12px;
	float: right;
	margin: 3px 0 0 0;
}

.setting .btn-switch input {
	display: none;
}

.setting .slide-object {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	border-radius: 20px;
}

.setting .slide-object:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 0;
	bottom: -3px;
	background: #efefef;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 2px 2px #bfbebe;
	-moz-box-shadow: 0 2px 2px #bfbebe;
	-webkit-box-shadow: 0 2px 2px #bfbebe;
}

.setting input:checked+.slide-object {
	background: rgba(81, 214, 151, 0.62);
}

.setting input:checked+.slide-object:before {
	transform: translateX(16px);
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	-moz-transform: translateX(16px);
	-o-transform: translateX(16px);
	background: #07ce72;
}

.projectBtnSize {
	width: 130px;
	height: 50px;
	line-height: 50px;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #BFBFBF;
	background-color: white;
	border-radius: 5px;
	color: #198C7D;
	font-weight: 800;
	font-size: 0.875rem;
	box-sizing: border-box;
	box-shadow: 3px 3px 6px #808080;
	cursor: pointer;
}

#newProjectSubmitBtn {
	width: 102%;
	height: 105%;
	background-color: #808080;
	border: #808080;
	color: white;
	font-weight: 800;
	font-size: 0.875rem;
	border-radius: 5px;
	cursor: pointer;
}

/* --------------------------초대하기 박스-------------------------- */
#inviteBox {
	width: 500px;
	height: 570px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 150px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#inviteHeader {
	width: 100%;
	height: 50px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 50px;
	text-align: center;
}

#inviteName {
	padding-right: 30px;
	font-size: 1rem;
}

#inviteExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#inviteSearchBox {
	width: 100%;
	height: 30px;
	background-color: #999999;
	color: white;
	overflow: hidden;
	text-align: center;
}

#memberSearch {
	width: 80%;
	height: 20px;
	border: 0;
	border-radius: 3px;
}

#memberSearch::placeholder {
	color: #BFBFBF;
}

#memberSearchImg {
	width: 40px;
}

#inviteContents {
	width: 100%;
	height: 488px;
	overflow-y: scroll;
}

#inviteContents::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#inviteContents::-webkit-scrollbar-track {
	background-color: white;
	border: 1px solid #BFBFBF;
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* 스크롤바의 전체 배경색 */
#inviteContents::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#inviteContents::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#inviteContents::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

.inviteMemberList {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #BFBFBF;
}



.inviteMemberInfo {
	width: 65%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.inviteMemberName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 0.875rem;
	line-height: 30px;
	font-weight: 800;
}

.inviteMemberPosition {
	width: 100%;
	height: 40%;
	float: left;
	font-size: 0.750rem;
	line-height: 10px;
}

.memberAdd {
	width: 25%;
	height: 100%;
	float: left;
}

.memberAddBox {
	width: 90px;
	height: 30px;
	border: 1px solid #808080;
	border-radius: 3px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 0.8rem;
	font-weight: 800;
	cursor: pointer;
	color: #808080;
	transition: 0.3s;
}

/* -----------------멤버 전체보기 박스-------------------- */
#memberAllListBox {
	width: 500px;
	height: 570px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 150px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#memberAllListHeader {
	width: 100%;
	height: 50px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 50px;
	text-align: center;
}

#memberAllListName {
	padding-right: 30px;
	font-size: 1rem;
}

#memberAllListExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#memberAllListSearchBox {
	width: 100%;
	height: 30px;
	background-color: #999999;
	color: white;
	overflow: hidden;
	text-align: center;
}

#memberAllListSearch {
	width: 80%;
	height: 20px;
	border: 0;
	border-radius: 3px;
}

#memberAllListSearch::placeholder {
	color: #BFBFBF;
}

#memberAllListSearchImg {
	width: 40px;
}

#memberAllListContents {
	width: 100%;
	height: 488px;
	overflow-y: scroll;
}

#memberAllListContents::-webkit-scrollbar {
	width: 8px;
}
/* 스크롤바의 width */
#memberAllListContents::-webkit-scrollbar-track {
	background-color: white;
	border: 1px solid #BFBFBF;
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
/* 스크롤바의 전체 배경색 */
#memberAllListContents::-webkit-scrollbar-thumb {
	background: #B3B3B3;
}
/* 스크롤바 색 */
#memberAllListContents::-webkit-scrollbar-button {
	display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */
#memberAllListContents::-webkit-scrollbar-thumb:hover {
	background: #999999;
}

.memberAllListLabel {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #BFBFBF;
}



.memberAllListInfo {
	width: 65%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.memberAllListName {
	width: 100%;
	height: 60%;
	float: left;
	font-size: 0.875rem;
	line-height: 30px;
	font-weight: 800;
}

.memberAllListPosition {
	width: 100%;
	height: 40%;
	float: left;
	font-size: 0.750rem;
	line-height: 10px;
}

.memberAllListSet {
	width: 25%;
	height: 100%;
	float: left;
}

.memberAllListSetAdminDis {
	width: 50%;
	height: 30px;
	border-radius: 15px;
	margin: 10px;
	text-align: center;
	line-height: 30px;
	font-weight: 800;
	color: #808080;
	background-color: #8041D9;
	color: white;
	float: left;
}

.memberAllListSetAdmin {
	width: 5%;
	float: right;
	margin: 15px;
	color: #999999;
	cursor: pointer;
}

.memberAdminBox {
	position: absolute;
	width: 120px;
	height: auto;
	right: 20px;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 5px;
	display: none;
}

.memberAdminList {
	width: 100%;
	padding: 5px 0px 5px 10px;
}

/*--------------------글/댓글 작성 권한 설정 박스------------------*/
#boardCommentSet {
	width: 500px;
	height: 230px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 200px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#boardCommentHeader {
	width: 100%;
	height: 40px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 40px;
	text-align: center;
}

#boardCommentName {
	padding-right: 30px;
	font-size: 1rem;
}

#boardCommentExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#boardCommentContents {
	width: 100%;
	height: calc(100% - 40px);
	padding: 10px;
}

.boardCommentBold {
	font-weight: 800;
	font-size: 1rem;
	padding: 5px;
}

.boardCommentRegular {
	padding: 5px;
}

/*--------------------파일 다운로드 권한 설정 박스------------------*/
#fileSet {
	width: 500px;
	height: 120px;
	background-color: #F2F2F2;
	box-shadow: 3px 3px 5px #cccccc;
	position: absolute;
	top: 230px;
	left: 40%;
	border-radius: 5px;
	border: 1px solid #BFBFBF;
	display: none;
	z-index: 2;
}

#fileHeader {
	width: 100%;
	height: 40px;
	background-color: #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	font-weight: 800;
	padding-left: 20px;
	overflow: hidden;
	line-height: 40px;
	text-align: center;
}

#fileName {
	padding-right: 30px;
	font-size: 1rem;
}

#fileExit {
	float: left;
	margin-top: 15px;
	cursor: pointer;
}

#fileContents {
	width: 100%;
	height: calc(100% - 40px);
	padding: 10px;
}

.fileRegular {
	padding: 5px;
}

.commentModifyBtn, .commentDeleteBtn{
	color: #cccccc;
	font-weight: normal;
	cursor: pointer;
}

.commentModifyBtn:hover, .commentDeleteBtn:hover{
	font-weight: bolder;
}
#projectFavor{
	font-size: 1.5rem;
	cursor: pointer;
}
.likeBtn{
	color: yellow;
}

.textHide{
	color: #B3B3B3;
	cursor: pointer;
	display: none;
	float:left;
}

.textHide:hover{
	font-weight: bolder;
	color: #999999;
}

#projectComplate{
	cursor: pointer;
}
