@charset "UTF-8";

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -------------- 공용 레이아웃 (수정X)-------------- */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 0.875rem;
}
html{overflow-y: hidden;}
a{ text-decoration: none;}
a:visited{text-decoration: none; color: black;}
a:active{ text-decoration: none;}
#wrap {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    min-width: 1200px;
    overflow-y: hidden;
}

#header {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #1D9F8E;
}

#contentsBox {
    width: 100%;
    height: calc(100% - 40px);
    background-color: #F2F2F2;
    overflow: hidden;
}

#sideNavi {
    width: 200px;
    height: 100%;
    float: left;
    overflow-y: auto;
    background-color: #1D9F8E;
}

#contents {
    width: calc(100% - 200px);
    height: 100%;
    float: left;
    overflow-y: auto;
}

#contentsDetail {
    min-width: 900px;
    width: 90%;
    max-width: 1200px;
    height: auto;
    min-height: 700px;
    background-color: white;
    border-radius: 5px;
    margin: 30px auto;
    border: 0;
    box-shadow: 0 0 6px #B3B3B3;
}

#TitleName {
    width: calc(100% - 80px);
    height: 50px;
    font-size: 1.5rem;
    font-family : GongGothicLight;
    margin: 40px 40px 10px;
    float: left;
}

#TitleContents {
    width: calc(100% - 80px);
    height: calc(100% - 130px);
    margin: 15px 40px 15px;
    float: left;
}

/* clearfix */
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

/* -------------- 공용 레이아웃 (수정X)-------------- */

/*메일 공통 헤더*/
#sub-name {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#mail-search-form {
    float: right;
}

#search-option {
    height: 1.8rem;
}

#mail-search {
    height: 1.8rem;
    margin-right: 0;
}

#mail-search-btn {
    height: 1.8rem;
    width:2rem;
    background-color: #1D9F8E;
    border: none;
    cursor: pointer;
}

#mail-search-form .fa-search{
    color: white;
}

#page-name {
    display: inline-block;
    font-family : GongGothicMedium;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
/*리스트 css*/

#new-mail-btn {
    display: inline-block;
    border-radius: 20px;
    border: 2px solid #1D9F8E;
    padding: 10px 15px;
    color: #1D9F8E;
    float: right;
    position: relative;
    bottom: 15px;
    font-weight: 800;
}

#mail-docu-list {
    clear: both;
    width: 100%;
    border: 1px solid darkgray;
    border-collapse: collapse;
    text-align: center;
}

#mail-docu-list tr:first-child{
    background-color: #12776A;
    color: white;
}

#mail-docu-list tr {
    height: 40px;
} 

#mail_btn_wrap { 
    float: left;
    height: 30px;
}
#mail_btn_wrap span{
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid darkgray;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#mail_btn_wrap span:hover{
    background-color: #eaeaea;
}
.title-head{ width: 40%;}
.sender-head{ width: 15%;}
.mail-sender,.mail-title{
    display: table;
	table-layout: fixed;
	width: 95%;
	white-space: nowrap;
    margin: 2.5%;
}
.mail-sender a,.mail-title a{
    display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*폰트어썸 아이콘 처리*/
table .fas, table .far{
    font-size: 1rem;
}

table .fa-star{
    color:#12776A;
    cursor: pointer;
}
table .fa-envelope, table .fa-envelope-open{
    color: darkgray;
    cursor: pointer;
}
table .fa-paperclip{
    color: slategray;
}

/*페이지 네비 css*/
#page-navi {
    height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-list {
    width: 30px;
    height: 30px;
    border: 1px solid darkgray;
    text-align: center;
}
.page-link {
    width: 100%;
    height: 100%;
    line-height: 28px;
    display: inline-block;
}

.page-link:hover{
    background: #eaeaea;
}
