@CHARSET "UTF-8";

/* 모든 버튼 */
        #TitleContents button{
            height: 27px;
        }
        #TitleContents input{
            border: 1px solid;
            border-radius: 3px;
        }
        #TitleContents span{
            font-size: 1rem;
            margin-left: 10px;
            cursor: pointer;
        }
        #TitleContents span>a{
            font-size: 1rem;
        }
        /* 게시글 목록 */
        #TitleContents table{
            width: 100%; 
            text-align: center;
            border-collapse: collapse;
            margin-top: 5px;
        }
        
        #TitleContents table tr{
            border: 1px solid lightgray;
            border-left: 0; border-right: 0;
        }
        #TitleContents table th,td{
            padding: 10px;
        }
        #TitleContents table td:first-child{
            width: 40px;
        }
        #TitleContents table td:nth-child(2){
            width:  70px;
        }
        /* table 안에서 말줄임 ... 넣는 css 1 */
        #TitleContents table td:nth-child(3) div{
            padding: 0 10px;
            text-align: left;
            display: table;
        	table-layout: fixed;
        	width: 100%;
        	white-space: nowrap;
        }
        /* table 안에서 말줄임 ... 넣는 css 2 */
        #TitleContents table td:nth-child(3) div > *{
            display: table-cell;
        	overflow: hidden;
        	text-overflow: ellipsis;
        }
        #TitleContents table td:nth-child(4){
            width: 100px;
        }
        #TitleContents table td:last-child{
            width: 100px;
        }
        #TitleContents tr:not(:first-child):hover{
		background-color:#F5F1F3;
		}
        
        /* 페이지 번호 */
        #TitleContents #pageNavi{
            text-align: center;
            margin: 20px 0 10px 0;
        }
        /* 검색 div */
        #TitleContents #search-div{
            text-align: center;
        }
        /* select */
        #TitleContents #search-div select{
            width: 85px; height: 25px;
            padding-right: 12px;
            border: 1px solid black;
            background: url(/resources/images/selectarrow.png) 115% center no-repeat;
            align-content: center;
            /* 가운데 정렬 */
            text-align-last: center;
            text-align: center;
            -ms-text-align-last: center;
            -moz-text-align-last: center;
        }
        /* 검색창 */
        #TitleContents #search-div input{
            height: 25px;
            padding: 0 10px;
        }
        #TitleContents #search-div button{
            position: relative;
            top: 1px;
        }