@CHARSET "UTF-8";

		/* 모든 버튼 */
        #TitleContents button{ height: 27px; }
        /* 글쓰기 & 목록 버튼 div */
        #TitleContents #title{
            height: 33px;
            padding: 0 0 5px 20px;
        }
        #TitleContents #title span{
            /* 새글쓰기 */
            position: relative;
            top: 10px;
        }
        #TitleContents #title > a{
            /* 윗글 & 아랫글 & 목록 */
            float: right;
            margin-right: 20px;
        }
        
        /* 수정하기 삭제 */
        #TitleContents #board-content > div:first-child{
            padding: 10px 20px 0;
            text-align: right;
        }
        #TitleContents #board-content > div:first-child span{
            margin-left: 5px;
            cursor: pointer;
        }
        /* 제목 */
        #TitleContents #board-content > div:nth-child(2){
            font-size: 1.4rem;
            padding: 10px 20px 5px;
        }
        #TitleContents #board-content > div:nth-child(2) span{
            font-size: 1.4rem;
            color: #78BEB5;
        }
        /* 작성자 + 시간 정보 */
        #TitleContents #board-content > div:nth-child(3){
            width: 100%;
            padding: 10px 0 0 30px;
        }
        #TitleContents #board-content > div:nth-child(3) > div:first-child{
            /* 프로필 */
            width: 35px; height: 35px;
            margin-right: 10px;
            border-radius: 100%;
            background-color: aqua;
        }
        #TitleContents #board-content > div:nth-child(3) > div:last-child{
            /* 사원이름 */
           padding-top: 4px;
        }
        /* 내용 */
        #TitleContents #board-content > div:nth-child(4){
            min-height: 450px;
            padding: 65px 40px 15px;
        }
        /* 맨 하단 조회수*/
        #TitleContents #board-content > div:last-child{
            margin: 20px 0 20px 20px;
        }
        #TitleContents #board-content > div:last-child span:last-child{
            cursor: pointer;
        }
        #TitleContents #board-content > div:last-child span.wall{
            /* 하단 댓글 조회수 첨부파일 벽 */
            border: 1px solid lightgray;
            margin: 0 7px;
            padding: 0;
        }
        
        /* 댓글 */
        #comment-div > table{
            width: 90%; min-width: 870px;
            margin: 0 auto;
            border-collapse: collapse;
        }
        /* 라인 만들기 */
        #comment-div > table tr{
            border: 1px solid lightgray;
            border-left: 0; border-right: 0;
        }
        /* 모든 td */
        #comment-div > table td{
            height: 30px;
        }
        /* 프로필 사진 td */
        #comment-div > table td:first-child{
            width: 30px;
        }
        /* 프로필 사진 */
        #comment-div > table td:first-child > div{
            width: 40px; height: 40px;
            margin: 5px 20px;
            background: gray;
            border-radius: 100%;
        }
        /* 정보 td */
        #comment-div > table td:nth-child(2){
            width: 140px;
            padding-right: 20px;
        }
        /* input 태그 */
        #comment-div textarea{
            width: 100%; height: 50px;
            margin: 10px 0;
            padding: 5px 10px;
            font-size: 1rem;
            resize: none;
        }
        /* 댓글 내용  */
        #comment-div > table td:nth-child(3){
            padding: 10px 20px 10px 0;
        }
        /* 댓글쓰기 & 수정 & 삭제 */
        #comment-div > table td:last-child{
            width: 100px;
        }
        /* 수정 & 삭제 div */
        #comment-div > table td:last-child{
            padding-left: 2px;
        }
        /* 수정 & 삭제 버튼 */
        #comment-div > table div button{
            border: 1px solid #1D9F8E;
            background-color: white;
        }
        #comment-div > table td.comnt-btn button:hover{
            background-color: rgba(0,0,0,0.05);
        }
        #comment-div .modify-tr{
        	display:none;
        }
        
        #comment-div > #pageNavi{
            margin: 10px;
            text-align: center;
        }
        
        
        
		
        
        /* 사내규정  */
        #TitleContents #companyRule-content{
        	position: relative;
        	bottom: 30px;
        }
        /* 제목 */
        #TitleContents #companyRule-content > div:first-child{
            font-size: 1.4rem;
            padding: 10px 20px 5px;
        }
        /* 시간 정보 */
        #TitleContents #companyRule-content > div:nth-child(3){
            width: 100%;
            padding: 10px 0 0 20px;
        }
        /* 내용 */
        #TitleContents #companyRule-content > div:last-child{
            min-height: 450px;
            padding: 25px 40px 15px;
        }