@CHARSET "UTF-8";

		#TitleContents table td:first-child{
            width:  50px;
        }
        #TitleContents table td:nth-child(2){
        	width: 350px;
        }
        /* table 안에서 말줄임 ... 넣는 css 1 */
        #TitleContents table td:nth-child(2) div{
            padding: 0 50px;
            text-align: left;
            display: table;
        	table-layout: fixed;
        	width: 100%;
        	white-space: nowrap;
        }
        /* table 안에서 말줄임 ... 넣는 css 2 */
        #TitleContents table td:nth-child(2) div > *{
            display: table-cell;
        	overflow: hidden;
        	text-overflow: ellipsis;
        }
        #TitleContents table td:nth-child(3){
            width: 50px;
        }
        #TitleContents table td:last-child{
            width: 50px;
        }