<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.houroffice.member.model.vo.Member" alias="Member"/>
		<typeAlias type="kr.or.houroffice.member.model.vo.Department" alias="Department"/> <!-- 부서  -->
		<typeAlias type="kr.or.houroffice.member.model.vo.AcademicAbility" alias="AcademicAbility"/> <!-- 학력 -->
		<typeAlias type="kr.or.houroffice.member.model.vo.Career" alias="Career"/> <!-- 경력 -->
		<typeAlias type="kr.or.houroffice.member.model.vo.License" alias="License"/> <!-- 자격증 -->
		<typeAlias type="kr.or.houroffice.member.model.vo.Military" alias="Military"/> <!-- 병력 -->
		<typeAlias type="kr.or.houroffice.project.model.vo.Project" alias="Project"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectMember" alias="ProjectMember"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectBoard" alias="ProjectBoard"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectFavorite" alias="ProjectFavorite"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectComment" alias="ProjectComment"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectPlan" alias="ProjectPlan"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectFileData" alias="ProjectFileData"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectCode" alias="ProjectCode"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectWork" alias="ProjectWork"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectRequest" alias="ProjectRequest"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.MonthlyProject" alias="MonthlyProject"/><!-- 프로젝트월별 통계 -->
		
		<typeAlias type="kr.or.houroffice.timecard.model.vo.Holiday" alias="Holiday"/> <!-- 연차내역(켈린더) --> 
		<typeAlias type="kr.or.houroffice.personnel.model.vo.MemDept" alias="MemDept"/> <!-- 인사정보 --> 
		<typeAlias type="kr.or.houroffice.personnel.model.vo.Contact" alias="Contact"/> <!-- 개인주소록 -->
				<typeAlias type="kr.or.houroffice.member.model.vo.Attendance" alias="Attendance"/><!-- 근태기록 -->
		<typeAlias type="kr.or.houroffice.board.model.vo.PartBoard" alias="PartBoard"/> <!-- 부서별 게시판 -->
		<typeAlias type="kr.or.houroffice.board.model.vo.PartComments" alias="PartComments"/> <!-- 부서별 게시판 댓글 -->
		<typeAlias type="kr.or.houroffice.board.model.vo.BoardFile" alias="BoardFile"/> <!-- 게시판 파일 -->
		<typeAlias type="kr.or.houroffice.board.model.vo.BoardPost" alias="BoardPost"/> <!-- 게시판 게시글(공지+사칙 공통) -->

		<typeAlias type="kr.or.houroffice.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.ApprovalLine" alias="ApprovalLine"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.ApprovalRef" alias="ApprovalRef"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprLineMember" alias="AprLineMember"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprForm" alias="AprForm"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprFormHol" alias="AprFormHol"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprFormLazy" alias="AprFormLazy"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprFormCCC" alias="AprFormCCC"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprFormOvt" alias="AprFormOvt"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.HolidayForm" alias="HolidayForm"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.CCCForm" alias="CCCForm"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.LazinessForm" alias="LazinessForm"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.OvertimeForm" alias="OvertimeForm"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprListPage" alias="AprListPage"/>
		
		<typeAlias type="kr.or.houroffice.mail.model.vo.Mail" alias="Mail"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailRef" alias="MailRef"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailRef" alias="MailReceive"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailFile" alias="MailFile"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailGetter" alias="MailGetter"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailInfo" alias="MailInfo"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailListPage" alias="MailListPage"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.MailList" alias="MailList"/>
		<typeAlias type="kr.or.houroffice.mail.model.vo.SendingMail" alias="SendingMail"/>
		
		
		<typeAlias type="kr.or.houroffice.resource.model.vo.ResourceData" alias="ResourceData"/>
		<typeAlias type="kr.or.houroffice.resource.model.vo.ResourcePage" alias="ResourcePage"/>
    
		<typeAlias type="kr.or.houroffice.main.model.vo.AllNotice" alias="AllNotice"/>
		<typeAlias type="kr.or.houroffice.main.model.vo.CompanyRule" alias="CompanyRule"/>
		<typeAlias type="kr.or.houroffice.main.model.vo.MainMailPage" alias="MainMailPage"/>
		<typeAlias type="kr.or.houroffice.main.model.vo.MainMailGetter" alias="MainMailGetter"/>
		<typeAlias type="kr.or.houroffice.common.Page" alias="Page"/>
		
		<typeAlias type="kr.or.houroffice.admin.model.vo.AdminBoard" alias="AdminBoard"/>
	</typeAliases>
</configuration>

